<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CommonServiceServiceSoapBinding" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IInternalExpress">
                    <reliableSession enabled="true" />
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://bsp-test.sf-express.com:9090/bsp-ois/ws/expressService"
                binding="basicHttpBinding" bindingConfiguration="CommonServiceServiceSoapBinding"
                contract="SFExpressService.IService" name="CommonServicePort" />
            <endpoint address="http://192.168.1.201:8100/LazyAtHome/InternalExpressService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IInternalExpress"
                contract="InternalExpressService.IInternalExpress" name="WSHttpBinding_IInternalExpress" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="SF_Account_CustomerID" value="SHLDJ"/>
    <add key="SF_Account_Check" value="U;q[8D4enR8Zq3Cw"/>
    <add key="SF_Account_CardID" value="0210481559"/>
  </appSettings>
</configuration>