body{
	font-family:"黑体",Verdana, Geneva, sans-serif;
	background:#f6f5fa;
	position:relative;
}
a{color:#4cc7c8;outline:none!important}
a:hover{text-decoration:none}
html,body{ 
	height:100%; 
	margin:0; 
	padding:0
} 
.wrapper {
	margin-top: 0px;
	padding-left: 220px;
	-webkit-transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s;
	transition: all .6s ease 0s
}
/*错误提示*/
.help-block,help-inline{
	color:#d9534f;
	margin:0;
	text-align:left
}
/*首页*/
.how-it-works {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 800;
	overflow: hidden;
	padding: 1em 5em;
	min-height: 100%;
	background: #f6f6fa url(../img/welcome-2.jpg) no-repeat center center fixed;
	background-size:cover;
	color: #fff;
	text-align: center;
	font-size: 23px;
	font-size: 1.25rem;
	font-size: 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none
}
.how-it-works .logo {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	position: relative;
	margin: 40px auto 0 auto;
	display:block;
}
.how-it-works .logo .scrollNormal img {
	width: auto
}
.how-it-works h2{
	font-size:4em;
	font-weight:normal;
	font-family:"方正细黑一简体"
}
.how-it-works p{
	font-size:1.8em;
	font-family:"方正细黑一简体"	
}
.how-it-works .bs3-link {
	margin-top: 20px;
	padding-left:40px;
	padding-right:40px;
	background:#ff586c;
	border:0;
	border-radius:0;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	border-radius:5px;
}
.how-it-works .bs3-link:hover {
	color: #fff;
	background:#ec5062;
}
.how-it-works .hr {
	display: block;
	color: #fff;
	font-weight: 100;
	font-size: 1.15em;
	margin-top:30px;
}
.how-it-works .hr:before, .how-it-works .hr:after {
	display: inline-block;
	margin: 3px 10px;
	width: 40%;
	height: 1px;
	border-top: 1px solid #fff;
	background: red;
	content: ""
}
.serbar{width:60%;text-align:center;display:block;margin:20px auto}
.serbar input{width:60%;padding:2px;border-radius:0;font-size:.8em;padding:4px;}
.serbar .serbtn{width:35%;background:#0b6061;border:none;font-size:.8em;padding:6px 4px;}

@media (max-width:767px) {
.how-it-works{
	padding:1em 2em;
}
.how-it-works h2{
	font-size:1.8em;
	font-weight:normal;
	font-family:"方正细黑一简体"
}
.how-it-works p{
	font-size:1em;
	font-family:"方正细黑一简体"	
}
.serbar{width:100%;margin-top:20px;}
.serbar input{width:60%;border-radius:0;font-size:.8em;padding:4px;}
.serbar .serbtn{width:35%;background:#0b6061;border:none;font-size:.8em;padding:6px 4px;}
.how-it-works .hr:before, .how-it-works .hr:after {
	width:30%;
}
.wrapper{
	padding-left:0px; 
	left:220px; 
	position:relative
}
/*主体内容头部*/
.headRel{
	position:fixed!important;
	top:0;
	left:0;
	width:100%;
	z-index:100;
}
.wrapper.active {
	padding-left:0;
	left:0px;
}
.wrapper.active #sidebar-wrapper{
	left:0;
}
.navbar-header{width:100%;-webkit-box-shadow:0px 2px 4px rgba(0,0,0,.3)}
.page-content-navbar .icon-collapsed{
	margin-top:7px;
	padding-top:0px;
	margin-right:-20px;
}
.page-content-navbar .navbar-brand{
	color:#585858;
	font-size:1.5em;
	margin-top:-8px;
	padding-left:0px;
}
}
@media (min-width:768px){
	.wrapper.active {
		padding-left:0;
	}
	.wrapper.active #sidebar-wrapper{
		left:0;
	}
	.wrapper.active .brand-toggle:after{
		display:none;
	}
	.wrapper.active .brand-toggle:before{
		display:none;
	}
}
/*背景蒙版*/
.mask{
	height:100%; 
	width:100%; 
	position:absolute; 
	position:fixed;
	top:0; 
	z-index:50; 
	opacity:.5; 
	filter: alpha(opacity=50); 
	background-color:#000;
	
}
/*按钮,文本框,下拉框,文本域*/
input, button, select, textarea{ font-family:"黑体"!important}
input, textarea {
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	padding: .75em 2.1em .75em .5em;
	padding-left: 1em;
	border: 0;
	border: 2px solid #f0f0f0;
	border-radius: 150px;
	color: #625f78;
	font-weight: 300;
	font-size: 1.125em;
	background:white;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
select {
	background: #fff;
	color: #625f78;
	line-height: 1.5em;
	padding: .75em 2.1em .75em .5em;
	position: relative;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	vertical-align: baseline;
	-webkit-tap-highlight-color: transparent;
	/*max-width: 541px;*/
	width: 68%;
	border: 2px solid #f0f0f0;
	text-align: center;
	background-image: url(../img/arrow-down.png);
	background-position: 98% 15px!important;
	background-repeat: no-repeat;
	font-weight: 300;
	font-size: 1.125em;
	padding-left: 1em;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out
}
select:hover {
	background-color: #4bc7c7;
	color: #fff;
	background-image: url(../img/arrow-down-white.png);
	cursor: pointer
}
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus, select:focus {
	outline: 0 none;
	border: 2px solid #4ac7c7;
	box-shadow: none
}
.form-control{
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	padding: 1em 2.1em 1em .5em!important;
	padding-left: 1em;
	border: 0;
	height:50px;
	border: 2px solid #f0f0f0;
	border-radius: 150px;
	color: #625f78;
	font-weight: 300;
	font-size: 1.125em;
	margin-bottom:5px;
}
/*按钮*/
.save-btn{padding-left:35px;padding-right:35px;border-radius:25px}
/*网站侧边导航*/
#sidebar-wrapper {
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	position: fixed;
	top:0px;
	left: 220px;
	z-index: 1000;
	overflow-x: hidden;
	overflow-y: auto;
	margin-bottom: 20px;
	margin-left: -220px;
	width: 220px;
	height: 100%;
	background: #4cc7c8;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
.sidebar-nav {
	position: absolute;
	top: 0px;
	margin: 0;
	padding: 0;
	width: 220px;
	height:auto;
	list-style: none
}
.sidebar-nav > li {
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	margin: .5em 0 .5em 0em;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	border-bottom:1px solid #5ecdce;
}
.sidebar-nav > li.sidebar-brand{
	border-bottom:1px solid rgba(0,0,0,0);
}
.sidebar-nav > li:hover {
	-webkit-transform: scale(1.04);
	transform: scale(1.04)
}
.sidebar-nav > li a {
	color: #fff;
	vertical-align: bottom;
	text-decoration: none;
	font-weight: 300;
	font-size: 1.125em;
	line-height: 1.5;
	cursor: pointer;
	text-align:left;
	padding-bottom:1em;
	display:block;
	overflow:hidden;
}
.sidebar-nav > li a span {
	min-width: 25px
}
.sidebar-nav > li a span img {
	display: inline-block;
	margin-right: 1em;
	max-width: 25px
}
.sidebar-nav > li a img {
	max-width: 25px;
	max-height: 30px
}
.sidebar-nav > li.sidebar-brand {
	margin: 2.5em auto;
	padding: 0;
	width: 150px;
	text-align: center
}
.sidebar-nav li.sidebar-brand img {
	max-width: none;
	width: 150px
}
.sidebar-nav > li .nav-title {
	display: inline-block;
	padding: .5em 0 .3em 0;
	width: 100px;
}
.icon-white-xdfw,.icon-white-hl,.icon-white-lrsq,.icon-white-bfhd,.icon-white-myorder,.icon-white-history,.icon-white-about {
	background: url(../img/sprites-icons.png) no-repeat;
	display: inline-block;
	margin-left:40px;
}
.icon-white-xdfw {
	margin-right: 1em;
	background-position: 0px 0px;
	height: 25px;
	width: 25px;
	float: left;
	margin-top: 4px
}
.icon-white-hl {
	margin-right: 1em;
	background-position: -25px 0px;
	height: 25px;
	width: 25px;
	float: left;
	margin-top: 4px
}
.icon-white-lrsq {
	margin-right: 1em;
	background-position: -50px 0px;
	height: 25px;
	width: 25px;
	float: left;
	margin-top: 4px
}
.icon-white-bfhd {
	margin-right: 1em;
	background-position: -75px 0px;
	height: 25px;
	width: 25px;
	float: left;
	margin-top: 4px
}
.icon-white-myorder {
	margin-right: 1em;
	background-position: -100px 0px;
	height: 25px;
	width: 25px;
	float: left;
	margin-top: 4px
}
.icon-white-history {
	margin-right: 1em;
	background-position: -125px 0px;
	height: 25px;
	width: 25px;
	float: left;
	margin-top: 4px
}
.icon-white-about {
	margin-right: 1em;
	background-position: -150px 0px;
	height: 25px;
	width: 25px;
	float: left;
	margin-top: 4px
}
.selectCity{
	display:block;
	top:0px;
}
#page-content-wrapper {
	padding-top:0px;
}
/*主体内容头部*/
.wrapper .brand-toggle{
	margin-left:10px;
	position:absolute;
	z-index:2000
}
.wrapper .brand-toggle:before{
	display:none;
}
.wrapper .brand-toggle:after{
	display:none;
}
.wrapper.active .brand-toggle:before{
	display:none;
}
.wrapper.active .brand-toggle:after{
	display:none;
}

.navbar{
    border: 1px solid transparent;
    margin-bottom: 20px;
	margin-top:30px;
    position: relative;
}
.navbar .row > div{
	padding-left:15px;
	padding-right:0;
}
.navbar .row >div:nth-of-type(2){
	padding-left:0px;
}
.navbar .row >div:nth-of-type(2),.navbar .row >div:nth-of-type(3){
	height:60px;
	border-bottom:1px solid #4CC7C8;
	padding-right:15px;
}
.navbar .navbar-brand{
	height:auto;
	font-size:2em;
	padding-left:0px;
	font-weight:normal;
}
#navbar-logo{	
	float:left;
	margin-left:0px;
	position:relative;
	
}
#navbar-logo img{
	width:20px;
	height:auto;
	float:left
	
}
.tsearch  input{
	padding:5px;
	width:100%;
	border-radius:5px
}
.tsearch .icon-search{
	position:absolute;
	right:20px;
	top:5px;
	background:none;
	border:0
}
.navbar-brand{
	color:#585858;
	margin-top:0px;
	margin-left:0px!important;
	font-weight:bold;
	margin-right:0px;
	padding-left:0px;
	padding-right:0px;
}
.navbar-nav > li > a {
    padding-bottom: 8px;
    padding-top: 8px;
}
.navbar-question{display:none!important}
.navbar-question > a{padding-top:8px!important;color:#42a8a9}
.navbar-question:hover a{
	background:rgba(0,0,0,0)!important;
	color:#42a8a9!important;
}
.navbar-c{background:#4cc7c8;border:1px solid #41a9aa}
.navbar-c li{text-align:center}
.navbar-c li a{color:white;}
.navbar-c li a:hover{background:#5ee0e1}
.brand-toggle:after{	
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
	display: none;
	float: right;
	margin-top: 0px;
	color: #4cc7c8;
	content: "\203A";
	font-size: 2em;
	opacity: 1;
	-webkit-animation-delay: .5s;
	animation-delay: .5s
}
.brand-toggle:before{	
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
	display: none;
	float: left;
	margin-top: 0px;
	color: #4cc7c8;
	content: "\2039";
	font-size: 2em;
	opacity: 1;
	-webkit-animation-delay: .5s;
	animation-delay: .5s
}

a[data-toggle='dropdown']{
	background:#4cc7c8;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	border-radius:25px;
	padding:0.8em 2em;
	position:relative;
	-webkit-transition:all .45s ease-in-out;
	-moz-transition:all .45s ease-in-out;
	-os-transition:all .45s ease-in-out;
	transition:all .45s ease-in-out;
	width:100%
}
 a[data-toggle='dropdown']:hover{background:#4cc7c8!important;}
.name{
	color:white;
	font-size:1.2em;
	font-weight:200;
	display:inline-block;
	padding-right:20px;
}
.icon-member{
	background:url(../img/dropdown-cog.png) no-repeat;
	display:inline-block;
	width:20px;
	height:20px;
	float:right;
	margin-left:10px;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	transition:all .5s ease;
	margin-top:0px;
	position:absolute;
	right:10px;
	top:8px;
}
.navbar-toggle {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
    float: right;
    margin-bottom: 8px;
    margin-right: 0px;
    margin-top: 0;
    padding: 2px 10px;
    position: relative;
}
li.dropdown{margin-right:15px}
 a[data-toggle='dropdown']:hover .icon-member{
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	transform:rotate(360deg);
}

#member-info{
	background:#4cc7c8;
}
#member-info li a{
	color:white;
}
#member-info li a:hover{
	background:#5ee0e1;
}
.memberinfo-collapse .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    max-height: 340px;
    overflow-x: visible;
    padding-left: 0;
    padding-right: 0;
}
.page-content .row > div:nth-of-type(1){
	padding-left:0px;
}
.panel-default > .panel-heading {
    background-color: #fff;
    border-color: #ddd;
    color: #333;
}
@media (max-width:991px){
	.page-content .row > div:nth-of-type(1){
		padding-left:15px;
	}
}
@media (max-width:991px){
	#navbar-logo{margin-top:14px;margin-right:15px;}
	a[data-toggle='dropdown']{margin-top:12px;}
	.navbar {margin-top:0;}
	.navbar .row{background:#4cc7c8}
	.navbar .navbar-brand{margin-top:4px;color:white;font-size:2em;padding:15px 0 0 0;font-weight:normal}
	.brand-toggle:after,.brand-toggle:before{color:white;}	
}
@media (max-width:767px){
    .navbar {margin-top:0;}
	.navbar .row{background:#4cc7c8}
	.navbar .navbar-brand{color:white;font-size:1.2em;padding:8px 0 0 0;font-weight:normal}
	.navbar-toggle{margin-top:15px;}
}
/*用户中心*/
.control-label{
	padding-top:12px;
	color:#4cc7c8;
	font-size:1.2em;
	text-align:left!important
}
.getVerifycode-btn{
	background:#4cc7c8;
	height:50px;
	border:2px solid #F0F0F0;
	border-radius:0 25px 25px 0;
	color:white;
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-os-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
}

.getVerifycode-btn:hover{
	color:white;
	background:#43b4b5;
}

/*一键下单订单确认*/
.yjxd-order-confirm input{
	border-radius:5px!important;
	padding:0.3em 2.1em 0.3em 1em
}
.yjxd-order-confirm select{
	border-radius:5px!important;
	padding:0.3em 0 0.3em 0;
	width:100%;
}
.yjxd-order-confirm textarea{
	border-radius:5px!important;
	padding:0.3em 2.1em 0.3em 1em;
	width:100%;
}
.yjxd-order-confirm .yjxd-bt{text-align:left;padding-top:5px;padding-left:8px;color:#4cc7c8;font-size:1.3em}

.yjxd-order-confirm .yjxd-label{padding-left:0;text-align:right;padding-top:5px}
.yjxd-order-confirm .yjxd-paymethod{padding-left:0;text-align:left;padding-top:5px}
.yjxd-order-confirm .yjxd-rq-label{padding-left:10px;text-align:left;padding-top:5px}
.yjxd-order-confirm .yjxd-inputs{padding-left:0;padding-right:10px}
.yjxd-order-confirm .yjxd-select{padding-left:0;padding-right:0}

/*订单确认*/
.form-group{margin-bottom:0;}
.order-confirm label{font-weight:normal}
.order-confirm .control-label{padding-top:0px;color:#4cc7c8;font-size:1em}
.order-confirm .lf-half{border-radius: 25px 0 0 25px;}
.order-confirm .rt-half{border-radius: 0 25px 25px 0; width:100%}
.order-confirm  .balance{padding-right:0px}
.order-confirm .order-confirm-label{	
	padding: .75em 0 .75em 0;
	padding-left: 1em;
	border: 0;
	border: 2px solid #f0f0f0;
	border-radius: 25px 0 0 25px;
	width:100%;
	display:inline-block;
	text-align:center;
	color: #625f78;
	font-weight: 300;
	font-size: 1.125em;
	background:white;
}
.order-confirm .checkbox{	
	padding: .9em 2.1em .75em .5em;
	padding-left: 1em;
	border: 0;
	border: 2px solid #f0f0f0;
	border-radius: 0 25px 25px 0;
	width:100%;
	display:inline-block;
	text-align:center;
	color: #625f78;
	font-weight: 300;
	font-size: 1em;
	background:white;}
.order-confirm .checkbox input{position:absolute;right:20px;top:15px}
.order-confirm lead{color:#ea535a;font-weight:300;font-size:1em}
.order-confirm .pro-info lead{color:#ea535a;font-weight:300;font-size:1.4em}
.order-confirm .pro-info{background:white;border-radius:25px;padding:20px; overflow:hidden}
.order-confirm .pro-info table td{
	border-top:0px;	
	border-bottom:1px solid #ddd;
}
.order-confirm textarea{width:100%}
.order-confirm .btn-lg, .btn-group-lg > .btn{border-radius:25px; padding:10px 20px;background:#e95259;border:0}
select.payfs{
	width:100%;
	max-width:100%;	
}
.order-confirm select{font-size:.9em}
/*用户登录*/
.signin-page{
	padding:0px;
}
.blue-bg{
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%
}
.centered{text-align:center}
.centered h3 {
	margin-top: 20px;
	color: #fff;
	font-weight: 300;
	font-size: 1.2em;
	line-height: 1.5
}
.centered h3 a {
	display: inline-block;
	margin-left: 5px;
	padding: .25em 1.5em;
	border: 1px solid #fff;
	border-radius: 25px;
	font-size: .85em
}
.centered input[type='text']{
	background-image: url("../img/input-email.jpg");
    background-position: left 15px center;
    background-repeat: no-repeat;
    padding-left: 3.5em;
}
.centered input[type='password']{
	background-image: url("../img/input-password.jpg");
    background-position: left 15px center;
    background-repeat: no-repeat;
    padding-left: 3.5em;
}
.centered .input-group{
	display:block
	;margin:15px auto
}
.centered input,.centered button{
	width:320px;
	margin:0 auto;
	display:block;
	text-align:center
}
.centered .login-btn{
	border-radius:25px;
	background:#fabd00;
	border:0;
	-webkit-transition:all .45s ease;
	-moz-transition:all .45s ease;
	-os-transition:all .45s ease;
	transition:all .45s ease;
}
.centered .login-btn:hover{
	background:#dca703
}
.centered .hr {
	display: block;
	color: #fff;
	font-weight: 100;
	font-size: 1.15em
}
.centered .hr:before, .centered .hr:after {
	display: inline-block;
	margin: 3px 10px;
	width: 20%;
	height: 1px;
	border-top: 1px solid #fff;
	background: red;
	content: ""
}
.centered .btn-register{
	border-radius:25px;
	margin-top:25px;
}
.centered .forgetcode{color:white}
.centered .shareicn{padding-top:30px}
.centered .shareicn img{margin-right:10px}
.inset {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
	padding: 0 20px
}
.fade-in {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn
}
.shareicn > img:hover{
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce		
}
@-webkit-keyframes bounce {
0%, 20%, 50%, 80%, 100% {
-webkit-transform:translateY(0)
}
40% {
-webkit-transform:translateY(-10px)
}
60% {
-webkit-transform:translateY(-10px)
}
}
@-moz-keyframes bounce {
0%, 20%, 50%, 80%, 100% {
-moz-transform:translateY(0)
}
40% {
-moz-transform:translateY(-10px)
}
60% {
-moz-transform:translateY(-10px)
}
}
@-o-keyframes bounce {
0%, 20%, 50%, 80%, 100% {
-o-transform:translateY(0)
}
40% {
-o-transform:translateY(-10px)
}
60% {
-o-transform:translateY(-10px)
}
}
@keyframes bounce {
0%, 20%, 50%, 80%, 100% {
transform:translateY(0)
}
40% {
transform:translateY(-10px)
}
60% {
transform:translateY(-10px)
}
}
.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce
}
.login-box .input-group > input:focus{
/*	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce	*/
}
@-webkit-keyframes shake {
0%, 100% {
-webkit-transform:translateX(0)
}
10%, 30%, 50%, 70%, 90% {
-webkit-transform:translateX(-10px)
}
20%, 40%, 60%, 80% {
-webkit-transform:translateX(10px)
}
}
@-moz-keyframes shake {
0%, 100% {
-moz-transform:translateX(0)
}
10%, 30%, 50%, 70%, 90% {
-moz-transform:translateX(-10px)
}
20%, 40%, 60%, 80% {
-moz-transform:translateX(10px)
}
}
@-o-keyframes shake {
0%, 100% {
-o-transform:translateX(0)
}
10%, 30%, 50%, 70%, 90% {
-o-transform:translateX(-10px)
}
20%, 40%, 60%, 80% {
-o-transform:translateX(10px)
}
}
@keyframes shake {
0%, 100% {
transform:translateX(0)
}
10%, 30%, 50%, 70%, 90% {
transform:translateX(-10px)
}
20%, 40%, 60%, 80% {
transform:translateX(10px)
}
}
.shake-animate {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: shake;
	-moz-animation-name: shake;
	-o-animation-name: shake;
	animation-name: shake
}
.shake {
	-webkit-animation-name: shake;
	-moz-animation-name: shake;
	-o-animation-name: shake;
	animation-name: shake
}
@-webkit-keyframes fadeIn {
0% {
opacity:0
}
100% {
opacity:1
}
}
@-moz-keyframes fadeIn {
0% {
opacity:0
}
100% {
opacity:1
}
}
@-o-keyframes fadeIn {
0% {
opacity:0
}
100% {
opacity:1
}
}
@keyframes fadeIn {
0% {
opacity:0
}
100% {
opacity:1
}
}
.login-box .help-block{
	width:320px;
	display:block;
	margin:0 auto;
}
/*用户注册*/
.reg-page{
	padding:0px;
}
.reg-row{
	margin-left:0px;
	margin-right:0px;	
}
.col-md-12.full-width{
	padding:0
}
.centered-logo {
	display: block;
	margin: 1em auto;
	max-width: 86.25px;
	height: 78.75px
}
.centered-box {
	margin: 0 auto 2em;
	max-width: 500px;
	border: 2px solid #4cc7c8;
	background: #f6f6fa;
	text-align: center;
	border-radius: 6px
}
.centered-box header {
	position: relative;
	overflow: hidden;
	height: 80px;
	line-height:80px;
	color:white;
	background-color: #4cc7c8;
	text-align: center
}
.centered-box header h2{
	font-size:30px;
}
.centered-box a.btn-prev{
	top: 15px;
	left:0px;
	display: block;
	font-size: 3em;
	color: #fff;
	position: absolute;
	font-weight: 300;
	padding: 5px 20px;
	line-height: 1;
}
.centered-box .input-group{
	display:block
	;margin:15px auto;
	overflow:hidden
}
.reg-content{
	padding:2em 3em;
}
.centered-box input,.centered-box button{
	width:100%;
}
.radius-left{
	border-radius:25px 0 0 25px;
}
.radius-right{
	border-radius:0 25px 25px 0;
}
.centered-box input.b-half{
	width:58%;
	float:left
}
.centered-box button.s-half{
	width:40%;
	float:right;
	background:white;
	border: 2px solid #F0F0F0;
    color: #d9534f;
    font-size: 1.125em;
    font-weight: 300;
    padding: 0.62em 2.1em 0.64em 1em;
    transition: all 0.25s ease-in-out 0s;
}
.centered-box .checkbox{
	text-align:left;
}
.centered-box .checkbox input{
	width:20px;
}
.centered-box .reg-btn{
	width:80%;
	margin:20px auto;
	border-radius:25px;
	border-color:rgba(0,0,0,0);
}
@media (max-width:500px){
	.centered-box{
		border:0;
		margin:0;	
	}
	.reg-content{
		padding:1em 3em;
	}
	.centered-logo{
		display:none;
	}
	.centered-box header {
		height:40px;
		line-height:40px;
	}
	.centered-box a.btn-prev{
		top:0;
		font-size:2em;
	}
	.centered-box header h2{
		font-size:20px;
		margin-top:8px;
	}
	.centered-box input{
		padding:0.5em 2.1em 0.5em 1em;
	}
	.centered-box button.s-half{
		padding:.5em;
		font-size:1em
	}
}
@media (max-width:767px){
	.centered input,.centered button,.centered a{
		width:260px;
		margin:0 auto;
		display:block; 
		text-align:center
	}
	.centered .forgetcode{
		color:white;
		padding-bottom:15px
	}
	.login-box .help-block{
		width:260px;
		display:block;
		margin:0 auto;
	}
}
/*洗涤服务*/
.washing-service h2{
	font-size:1.4em;
	line-height:25px;
	font-weight:normal;
	color:#625F78;
	margin-top:0px;
	overflow:hidden
}
.washing-service h2 img{
	width:24px;
	height:25px;
	margin-right:15px;
	float:left;
}
.servicefee-tabs{
	background:white;
}
.servicefee-tabs .servicefee-bt{
	color:black;
	font-weight:normal;
}
.servicefee-tabs .price{
	color:#4cc7c8
}
.servicefee-tabs td{
	text-align:center;
	font-size:1.2em;
	border:1px solid #ddd!important;
}
.tagSwitch .nav-tabs{
	background:#efeff4
}
.tagSwitch .nav-tabs li{
	width:12.5%;
	text-align:center;
	font-size:1.2em;
}
.tagSwitch .nav-tabs li a{
	color:#4cc7c8;
}
.tagSwitch .nav-tabs li.active a{
	background:#4cc7c8;
	color:white!important;
}
.tagSwitch .nav-tabs li.active a:after{
	content:"";
	width:0; 
    height:0; 
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    border-bottom:6px solid #fff;
	position:absolute;
	left:50%;
	margin-left:-6px;
	bottom:-2px;
}
.washing-service .panel-title .cloth-bt{
	color:#4bc7c7;
	font-size:.8em;
	font-weight:normal
}

.washing-service .panel-title a{
	display:block;
	font-size: .8em;
	color: #b6b6b8;
	font-weight: 150;
	padding: 5px 10px;
	line-height: 1;
	float:right;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	-webkit-transition:all .45s ease;
	-moz-transition:all .45s ease;
	-os-transition:all .45s ease;
	transition:all .45s ease;
}
.washing-service .panel-title a:hover{
	color:#333;
}
.washing-service .cloth-list{
	margin-bottom:0px;
}
.washing-service .cloth-list button{
	width:25px!important; 
	height:25px!important;
	color:#4cc7c8;
	font-weight:bold;
	font-size:1em;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	padding:0px;
	border:1px solid #4cc7c8;
}
.washing-service .cloth-list button:hover{
	background:#4cc7c8;
	color:white;
}
.washing-service .cloth-list tbody tr td{
	font-size:1.2em;
	border-top:0
}
.washing-service .cloth-list tbody tr td:nth-of-type(1){
	padding-left:10px;
}
.washing-service .cloth-list tbody tr td:nth-of-type(1){
	width:40%;
}
.washing-service .cloth-list tbody tr td:nth-of-type(2){
	width:50%;
	color:#4cc7c8;
}
.estimator{
	clear:both;
	text-align:center;
	border:1px solid #4bc7c7;
	border-radius:5px;
	background:white;
	padding:10px;
}
.estimator h2{
	color:#4bc7c7;
	font-size:1em;
}
.estimator .add-shopcart{
	background:#D9534F;
	color:white;
	margin-top:20px;
	display:block;
	width:100%;
	clear:both
}
.full-shopcart{
	border:1px solid #4bc7c7;
	border-radius:5px;
	background:white;
	padding:10px;	
}
.shopcartList,.shopcartList-collapse{
	width:240px;
	float:right;
	background:white;
	border:1px solid #4cc7c8;
}
.shopcartList .tit,.shopcartList-collapse .tit{
	color:#4bc7c7;
	border-bottom:2px solid #4bc7c7;
	padding:0 0 5px 0;
	margin-bottom:10px;
	overflow:hidden
}
.shopcartList .tit span:nth-of-type(1),.shopcartList-collapse .tit span:nth-of-type(1){
	font-size:1.2em;
}
.shopcartList .biaot,.shopcartList-collapse .biaot{
	font-weight:bold;
	background:#f4f4f4;
	color:#4bc7c7;
	height:25px; 
	line-height:25px;
}
.shopcartList .biaot .bt,.shopcartList-collapse .biaot .bt{
	margin-left:10px;
}
.shopcartList .biaot .p-num,.shopcartList-collapse .biaot .p-num{
	margin-right:10px;
}
.shopcartList .unit,.shopcartList-collapse .unit{
	clear:both;
	padding:10px 0 0 0;
	overflow:hidden;
}
.shopcartList .unit .lfbt,.shopcartList-collapse .unit .lfbt{
	width:70%;
	float:left;
	color:#4bc7c7
}
.shopcartList .unit .setnum,.shopcartList-collapse .unit .setnum{
	width:30%;
	float:left
}
.shopcartList .unit .setnum input:focus,.shopcartList-collapse .unit .setnum input:focus{
	border:1px solid #4bc7c7
}
.shopcartList input,.shopcartList-collapse input{
	width:20px;
	height:20px;
	border-radius:0px;
	font-size:.8em;
	padding:2px;
	float:left;
	margin:0 1px;
	border:1px solid #4bc7c7;
}
.shopcartList button,.shopcartList-collapse button{
	width:20px!important;
	height:20px;
	border:1px solid #4bc7c7; 
	background:white;
	color:#4bc7c7;
	float:left;
	padding:0
}
.shopcartList .total-price,.shopcartList-collapse .total-price{
	float:right;
	margin-bottom:10px;
	color:#4bc7c7;
	padding:15px 0
}
.shopcartList .total-price b,.shopcartList-collapse .total-price b{
	color:#e95259
}
.shopcartList .js-btn,.shopcartList-collapse .js-btn{
	background:#e95259;
	color:white;
	ont-size:1.2em;
	border:0;
	border-radius:5px;
	display:block;
	clear:both;
}
.relative-div{
	position:relative;
	z-index:20;
	height:40px;
	display:block;
	clear:both;
}
.small-login-reg{margin-top:5px;margin-right:10px}
@media (max-width:991px){
	button.viewshopcart{
		z-index:6000; 
		position:absolute;
		right:0px;
		background:#D9534F;
		color:white!important;
		border-radius:5px;
	}
	.shopcart-collapse{
		width:240px;
		border-radius:5px;
		position:absolute;
		right:0px;
		top:40px;
		background:white;
		z-index:20000;
		-webkit-box-shadow:2px 2px 5px rgba(0,0,0,.6);
		-moz-box-shadow:2px 2px 5px rgba(0,0,0,.6);
		box-shadow:2px 2px 5px  rgba(0,0,0,.6);
	}
	.servicefee-tabs td{
		font-size:.8em;
		padding:8px 0px!important;
	}
	.login-reg{margin-top:15px}
}
@media (max-width:991px){
	.s-search-bar{margin-top:15px;}
	.s-search-bar div{
		clear:both; 
		padding:0 15px;
		position:relative
	}
	.s-search-bar input{
		width:100%;
		padding:.5em;
	}
	.s-search-bar .icon-search{
		position:absolute;
		right:20px;
		top:10px;
		background:none;
		border:0
	}
	.tagSwitch .nav-tabs li{
		width:25%;
		text-align:center;
		font-size:1em;
	}
	.washing-service .cloth-list tbody tr td{
		font-size:1em;
	}
	.washing-service .cloth-list tbody tr td:nth-of-type(1){
		padding-left:10px;
	}
}
@media (min-width:992px) and (max-width:1199px) {
   .tagSwitch .nav-tabs li{
		width:25%;
		text-align:center;
		font-size:1.2em;
	}
}
#activityRule p{font-size:.8em}
/*绑定新卡*/
.bindcard-unit{
	margin-bottom:20px
}
.bindcard-head{
	background:#4bc7c7;
	padding:4px 0;
	overflow:hidden
}
.bindcard-head span{
	color:white;
	float:left;
	width:33%;
	display:inline-block;
	text-align:center
}
.bingdingcard-tab{
	width:100%;
	background:white;
}
.bingdingcard-tab td{
	padding:10px;
	font-family:Verdana, Geneva, sans-serif;
	color:#787878;
}
.bingdingcard-tab tbody > tr > td:nth-of-type(1){
	width:25%;
}
.bingdingcard-tab tbody > tr > td:nth-last-of-type(1){
	width:40%;
	text-align:center;
}
.rel-div{
	position:relative;
}
.ewm-box{
	display:-none;
	position:absolute;
	width:200px;
	height:240px;
	background:white;
	right:-15em;
	top:-30px;
	padding:20px;
	-webkit-box-shadow:0px 0px 4px rgba(0,0,0,.5);
	-moz-box-shadow:0px 0px 4px rgba(0,0,0,.5);
	box-shadow:0px 0px 4px rgba(0,0,0,.5);
	overflow:hidden;
	border-radius:5px;
}
.ewm-box span{
	font-size:12px;
	display:block;
	padding-top:10px;
}
@media (max-width:499px){
	.ewm-box{
		right:10em;
		top:-25px;	
	}
}
@media (min-width:500px) and (max-width:767px){
	.ewm-box{
		right:15em;
		top:-25px;	
	}
}
@media (min-width:768px) and (max-width:991px){
	.ewm-box{
		right:15em;
		top:-25px;	
	}
}
/*历史订单*/
.order-unit{
	margin-bottom:20px
}
.history-orderthead{
	background:#4bc7c7;
	padding:4px 0;
	overflow:hidden
}
.history-orderthead span{
	color:white;
	float:left;
	width:25%;
	display:inline-block;
	text-align:center
}
.history-orderthead span.operate{
	text-align:right
}
.history-orderthead span.operate > img{
	margin-right:10px;
	margin-top:10px;
}
.historyorder-tab{
	background:white;
	border:1px solid #ddd;
	clear:both;
	color:#b4b4b4;
	width:100%;
}
.historyorder-tab tbody > tr > td:nth-of-type(1){
	width:50%;
}
.historyorder-tab tr > td:nth-of-type(1),.historyorder-tab tr > td:nth-of-type(2){
	width:25%;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd
}
.historyorder-tab .total-price{
	color:#d9534f;
	font-weight:bold;
}
.historyorder-tab td{
	text-align:center; 
	vertical-align:middle;
	line-height:2em; 
}
.historyorder-tab a{
	color:#4bc7c7
}
.tab-head td{
	padding:0 12px
}
.order-prolist{
	width:100%;
}
.order-prolist td{ 
	text-align:center;
	border-bottom:1px solid #ccc;
	padding:6px
}
.order-prolist tr:nth-last-of-type(1) > td{
	border-bottom:0px
}
@media (max-width:767px){
	.history-orderthead{
		padding:0 10px 5px 10px;
	}
	.history-orderthead span{
		width:60%;
		display:inline-block;
		text-align:left;
		padding-top:10px;
	}
	.history-orderthead span.operate{
		width:40%!important;
		float:right!important
	}
	.history-orderthead span.operate > img{
		margin-right:10px;
		margin-top:-5px;
	}
}
/*帮助与反馈*/
.help-feedback{
	margin-bottom:20px;
}
.help-feedback .nav-tabs li a{
	color:#4cc7c8;
	font-size:1.2em;
	padding:10px 35px;
}
.help-feedback .nav-tabs li.active a{
	color:#787878
}
.help-feedback .tab-content .cont{
	padding:20px 10px; 
	background:white;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	border-radius:5px;
}
.help-feedback .tab-content .cont p{
	color:#666;
	line-height:2em;
	padding:0px 2em;
}
.help-feedback .tab-content .cont p b{
	font-weight:normal;
}
.help-feedback .list-group-item {
	border:0;
}
.help-feedback .list-group-item  a{
	color:#4cc7c8
}
@media(max-width:767px){
	.help-feedback .nav-tabs li a{
		padding:10px 10px;
	}
	.help-feedback .tab-content .cont p{
		padding:0px .5em;
	}
}
	
/*地址管理*/
.addManageUnit{
	border:1px solid #ddd;
	border-radius:5px;
	padding:10px;
	background:white;
	overflow:hidden;
	position:relative;
	margin-bottom:15px;
}
.addManageUnit span.del{color:#4cc7c8}



.add-manage .list-group-item{
	border-radius:5px;
	padding:20px 5px 20px 30px;
	margin-bottom:15px;
	-webkit-transition:all .45s ease;
	-moz-transition:all .45s ease;
	-o-transition:all .45s ease;
	transition:all .45s ease;
}
.add-manage .list-group-item:hover{
	background:#4cc7c8;
	
}
.add-manage .list-group-item:hover address,.add-manage .list-group-item:hover p,.add-manage .list-group-item:hover .badge{
	color:white;
}
.add-manage .list-group-item:hover .badge a{color:white}
.list-group-item > .badge{
	background:none;
	color:#4cc7c8;
	margin-top:0;
	font-size:.9em;
	font-weight:normal
}
.add-manage a.list-group-item{
	margin-bottom:10px;
	position:relative;
}
.add-manage .list-group-item address{
	margin-bottom:0px;
	color:black;
	font-size:1.5em;
	color:#666; 
	font-weight:normal
}
.add-manage .list-group-item p{
	margin:0;
	padding:10px 0 0 0;
	font-size:.9em
}
.add-manage .list-group-item p span{
	margin-right:30px;
}
.modify-address{
	padding-top:50px
}
.modify-address .control-label{
	font-weight:normal;
	padding-top:8px;
}
.btns-group{
	padding-top:50px
}
.btns-group button{
	color:white;
}
.btns-group button:hover{
	color:white;
}
.save-btn{
	background:#e95259;
	border:0;
	margin-left:40px;
	border-radius:5px;
	padding-top:5px;
	padding-bottom:5px
}
.cancel-btn{
	background:#cacaca;
	border:0;
	margin-left:10px;
	border-radius:5px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:35px;
	padding-right:35px;
}
.select-city select{width:32%}
.select-city-unit{width:32%;float:left}
@media (max-width:767px){
	.modify-address{
		padding-top:10px
	}
	.btns-group{
		padding-top:10px
	}
	.select-city select{width:30%}
	.add-manage .list-group-item address{
		font-size:.9em;
	}
}
.address-active:before {
	content:"";
	position:absolute;
	width:25px;
	height:22px;
	background:url(../img/default-icn.png) no-repeat;
	left:0px;
	top:0px;
}
/*我的懒人卡*/
.mylanren-card .panel-heading{
	height:80px;
	background:white;
	padding-top:20px;
}
.mylanren-card .card-number{
	color:#4fc7c6;
	font-size:1.1em
}
.mylanren-card .binding-time{
	color:#9f9f9f;
	font-size:.8em;
	padding-top:5px;
	display:block
}
.mylanren-card .panel-title .lf{
	float:left; 
	background:url(../img/icon-card.png) no-repeat left center;
	background-size:40px 40px;
	padding-left:50px
}
.mylanren-card .panel-title .ctr{
	float:left;
	margin-left:15%;
	color:#4fc7c6;
	font-size:1.1em
}
.mylanren-card .panel-title .rt{
	float:right;
}
.mylanren-card .panel-title .rt a{ 
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	outline:none;
	color:#787878;
	display:block;
	font-size: .8em;
	color: #b6b6b8;
	font-weight: 150;
	padding: 5px 10px;
	line-height: 1;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	-webkit-transition:all .45s ease;
	-moz-transition:all .45s ease;
	-os-transition:all .45s ease;
	transition:all .45s ease;
}
.mylanren-card .panel-title .rt a:hover{
	text-decoration:none
}
.mylanren-card .table{
	margin-top:15px;
}
.mylanren-card .table td{
	border:none;
	color:#a3a3a3;
	font-size:1.2em
}
.mylanren-card .ewm-btn{
	margin-top:15px;
	color:#4ac8c7;
	font-size:1.2em
}
.mylanren-card .row{
}
.mybtn{
	padding-left:40px;
	padding-right:40px;
	border-radius:25px
}
@media (max-width:767px){
	.mylanren-card .panel-title .lf{
		float:left; 
		background:url(../img/icon-card.png) no-repeat left center;
		background-size:30px 30px;
		padding-left:40px
	}
	.mylanren-card .card-number{
		color:#4fc7c6;
		font-size:.9em!important
	}
	.mylanren-card .binding-time{
		color:#9f9f9f;
		font-size:.6em;
		padding-top:5px;
		display:block
	}
	.mylanren-card .panel-title .ctr{
		float:left;
		margin-left:10%;
		color:#4fc7c6;
		font-size:.8em!important
	}
	.mylanren-card .table td{
		border:none;
		color:#a3a3a3;
		font-size:.8em!important
	}
	.mylanren-card .table td{border:none;color:#a3a3a3;font-size:.9em}
	.mylanren-card .ewm-btn{margin-top:15px;color:#4ac8c7;font-size:.9em}
}
@media (min-width:768px) and (max-width:991px){
	.mylanren-card .panel-title .ctr{
		float:left;
		margin-left:10%;
		color:#4fc7c6;
		font-size:1.3em
	}
}
.lrk-bind{background:white;padding:15px;border:1px solid #ddd;border-radius:5px; margin-bottom:15px;overflow:hidden}
.lrk-bind h3{font-size:18px;color:#787878}
.cardn{line-height:50px;color:#787878;font-size:16px;text-align:left}
.lrk-bind .bind-btn{padding-top:6px;padding-bottom:5px;background:#4cc7c8;color:white;border:none;border-radius:5px;margin-top:15px;width:90%}
.lrk-bind .help-block{padding:5px 0 0 5px;color:#797979}

/*我的优惠劵*/
.coupon-nav li{
	margin-left:40px;
	font-size:1.2em
}
.coupon-nav li a{
	outline:none;
	color:#787878!important
}
.coupon-nav li.active a,.coupon-nav li.active a:focus{
	color:#4bc7c7!important;
	background:none;
	border:0;
	border-bottom:4px solid #4bc7c7
}
.coupon-nav li.active a:hover{
	background:none;
	border:0;
	border-bottom:4px solid #4bc7c7
}
.coupon-list{padding-top:10px}
.coupon-list .list-group-item{
	margin-bottom:10px; 
	overflow:hidden;
	border-radius:5px
}
.coupon-list h4{
	padding-top:10px;
	color:#727272!important
}
.coupon-list p{
	color:#848486;
	padding:5px 0
}
.jjgq-icn{
	width:70px;
	height:71px; 
	background:url(../img/jjgq-icn.png) no-repeat; 
	position:absolute;
	right:0;
	top:0
}
.usestatus{
	margin-right:5%;
	color:#4cc7c8!important
}
.coupon-bind{background:white;padding:5px 15px 15px 15px;border:1px solid #ddd;border-radius:5px; overflow:hidden}
.coupon-bind h3{font-size:18px;color:#787878}
.cardn{line-height:20px;color:#787878;font-size:14px;padding-bottom:10px}
.coupon-bind .help-block{font-size:16px}
.coupon-bind .bind-btn{padding-top:6px;padding-bottom:5px;background:#4cc7c8;color:white;border:none;border-radius:5px;margin-top:15px;width:100%}
.popdiv{position:absolute;position:fixed;width:200px;height:100px; line-height:100px; text-align:center;background:white;border:1px solid #ddd;border-radius:15px; left:50%;margin-left:-100px;top:50%;margin-top:-50px; z-index:100;-webkit-box-shadow:5px 5px 5px #ccc;-moz-box-shadow:5px 5px 5px #ccc;box-shadow:5px 5px 5px #ccc;}
.list-group-item-heading{font-size:.9em!important}
@media (max-width:767px){
	.coupon-nav li{
		margin-left:10px;
		font-size:.9em
	}
	.coupon-list h4{
		padding-top:10px;
		color:#727272!important;
		font-size:1.1em
	}
	.coupon-list span{
		color:#848486;
		padding:5px 0;
		font-size:.8em
	}
}
/*社区中心*/
.sqzx{
	background:white;
	padding:20px;
	border:1px solid #ddd;
	border-radius:5px;
	overflow:hidden;
}
.sqzx .share-unit{
	margin-bottom:0px;
	margin-top:30px
}
.sqzx .share-unit input{
	padding:6px;
	width:100%;
	border-radius:5px 0 0 5px
}
.sqzx .share-unit p{ 
	line-height:25px
}
.sqzx .station-letter{
	color:#666;
	margin-top:30px
}
.sqzx .station-letter tbody tr > td:nth-of-type(1){width:15%;color:#4cc7c8}
.sqzx .station-letter tbody tr > td:nth-of-type(2){width:60%}
/*我的订单*/
.yjxd-container {
	position: relative;
	margin: 1em auto .2em;
	width: 451px;
	height: 380px;
	text-align:center;
}
.yjxd-container h3 {
	width: 200px;
	height:40px;
	text-align: center;
	color:#fff;
	font-weight: 300;
	font-size: 1.75em;
	position:absolute;
	left:50%;
	margin-left:-100px;
	top:50%;
	margin-top:-20px;
}
.yjxd-container img{width:80%; height:auto}
.yjxd-container h3 a{color:white; text-decoration:none}
.progress-container {
	position: relative;
	margin: 1em auto .2em;
	width: 450px;
	height: 370px;
	text-align:center;
}
.progress-container h3 {
	width: 200px;
	height:40px;
	text-align: center;
	color:#4bc7c7;
	font-weight: 300;
	font-size: 1.75em;
	position:absolute;
	left:50%;
	margin-left:-100px;
	top:50%;
	margin-top:-20px;
}
.progress-container.yjxd h3{
	color:white;
}
.progress-container img{width:80%; height:auto}
.progress-container.yjxd h3 a{color:white; text-decoration:none}
.myorder .btngroup{
	text-align:center;
	padding:20px 0 20px 0
}
.myorder .btngroup > button{
	background:#d9534f;
	border:0;
	padding:10px 30px;
}
.myorder .btngroup > button:nth-last-of-type(1){
	margin-left:40px;
	background:#b4b4b4
}
.delivery-box {
	margin-bottom: .6em;
	background: #fff;
	border:1px solid #ccc;
	border-radius:5px;
}
.delivery-box .table {
	min-height: 178px;
}
.delivery-box .table>tbody>tr>td {
	vertical-align: middle;
	font-weight: 300
}
.delivery-box .timestatus{
	text-align:center;
	padding-top:10px;
}
.delivery-box .timestatus span{
	font-size:1.2em;
	color:#929292
}
.delivery-box .timestatus span:before{
	content:"√";
	color:#4cc7c8;
	font-weight:bold;
	width:30px;
	height:30px;
	line-height:40px;
	text-align:center;
	border-radius:50%;
	font-size:1em;
	border:1px solid #4cc7c8;
	display:inline-block;
	margin-right:20px;
}
.delivery-box .status-delivery-date {
	padding: 0 25px;
	font-size: 1.1em;
	min-height: 52px;
	text-align:center;
	color:#929292
}
.delivery-box .status-delivery-type {
	text-align:center;
	color: #4cc7c8;
	font-size: 1.5em
}
.delivery-box .table>thead>tr>th, .delivery-box .table>tbody>tr>th, .delivery-box .table>tfoot>tr>th, .delivery-box .table>thead>tr>td, .delivery-box .table>tbody>tr>td, .delivery-box .table>tfoot>tr>td {
	border: 0
}
.delivery-box .progress {
	height: 15px;
	border-radius: 0 0 5px 5px;
	background: #e3e3e8;
	box-shadow: none;
	margin-bottom:0px;
}
.delivery-box .progress-bar {
	background-color: #4bc7c7
}
.order-detail{
	background:white;
	border-radius:5px; 
	padding:10px;
	border:1px solid #d3d3d3;
	margin-bottom:20px;
	color:#929292;
}
.order-detail .receive-ifo{
	clear:both; 
	line-height:25px;
	padding:0px 20px 0px 0px!important;
	border-bottom:1px dashed #ccc; 
	overflow:hidden
}
.order-detail .receive-ifo h2{
	font-size:1.2em;
	color:#4bc7c7
}
.order-detail .payMethod{
	font-size:1.2em;
	padding:0 20px 20px 0px;
	border-bottom:1px dashed #ccc; 
	overflow:hidden
}
.order-detail .proinfo{
	padding:0 0px
}
.order-detail .proinfo h2{
	font-size:1.2em;
	color:#4bc7c7
}
.order-detail .payMethod h2{
	font-size:1.1em;
	color:#4bc7c7
}
.order-detail .total-price{
	color:#e95259;
	font-size:1.3em;
	font-weight:bold;
}
.myorderList,.order-collapse{
	width:260px;
	border:1px solid #4bc7c7;
	border-radius:5px;
	background:white;
	padding:10px;
	float:right
}
.myorderList .tit,.order-collapse .tit{
	color:#4bc7c7;
	border-bottom:2px solid #4bc7c7;
	padding:0 0 5px 0;
	margin-bottom:10px;
	overflow:hidden
}
.myorderList .tit a,.order-collapse .tit a{
	color:#4bc7c7;
}
.myorderList .tit span:nth-of-type(1),.order-collapse .tit span:nth-of-type(1){
	font-size:1.2em;
}
.myorderList .total-price,.order-collapse .total-price{
	color:#e95259
}
.myorderList .js-btn,.order-collapse .js-btn{
	background:#e95259;
	color:white;
	font-size:1.2em;
	border:0;
	border-radius:5px
}
.myorderList .biaot,.order-collapse .biaot{
	font-weight:bold;
	background:#f4f4f4;
	color:#4bc7c7;
	height:25px; 
	line-height:25px;
}
.myorderList .biaot .bt,.order-collapse .biaot .bt{
	margin-left:10px;
	width:45%;
}
.myorderList .biaot .price,.order-collapse .biaot .price{
	margin-left:10px;
	width:20%
}
.myorderList .biaot .p-num,.order-collapse .biaot .p-num{
	margin-right:10px;
}
.myorderList .unit,.order-collapse .unit{
	clear:both;
	padding:10px 0; 
	height:25px; 
	line-height:25px
}
.myorderList .unit .lfbt,.order-collapse .unit .lfbt{
	margin-left:10px;
	width:45%;
	float:left;
	color:#4bc7c7
}
.myorderList .unit .act,.order-collapse .unit .act{
	margin-right:10px;
	float:right
}
.myorderList .unit a,.order-collapse .unit a{
	color:#4bc7c7
}
.myorderList .unit .prices,.order-collapse .unit .prices{
	margin-left:10px;
	width:20%;
	float:left
}
.myorderList input,.order-collapse input{
	width:30px;
	padding:0 2px;
	margin:0 2px;
	border-radius:0px;
	border:1px solid #4bc7c7;
}
.myorderList button,.order-collapse button{
	border:1px solid #4bc7c7; 
	background:white;color:#4bc7c7
}
@media (max-width:767px){
	.progress-container{width:80%; height:auto;}
	.progress-container img{width:100%; height:auto}
	.yjxd-container{width:80%; height:auto;}
	.yjxd-container img{width:100%; height:auto}
}
@media (max-width:991px){
	.order-collapse{
		width:300px;
		border-radius:5px;
		background:white;
		z-index:10000;
		-webkit-box-shadow:2px 2px 5px rgba(0,0,0,.6);
		-moz-box-shadow:2px 2px 5px rgba(0,0,0,.6);
		box-shadow:2px 2px 5px  rgba(0,0,0,.6);
		border:1px solid red;
	}
	.myorder .btngroup > button{
		background:#d9534f;
		border:0;
		padding:10px 30px;
		font-size:1em;
	}
	.delivery-box .timestatus span:before{
		content:"√";
		color:#4cc7c8;
		font-weight:bold;
		width:40px;
		height:40px;
		line-height:30px;
		text-align:center;
		border-radius:50%;
		font-size:1.2em;
		border:3px solid #4cc7c8;
		display:inline-block;
		margin-right:5px;
	}
	.status-delivery-date{
		font-size:.8em!important;
	}
	.proinfo table tr th{font-size:.8em}
}
/*懒人神器*/
.lrsq-tab{
	border-top:4px solid #4bc7c7; 
	background:white;
	color:#787878;
}
.lrsq-tab td a{
	display:inline-block;
	margin-right:25px;
	color:#787878!important;
}
.lrsq-tab td a:hover{color:#4cc7c8!important}
.lrsq-tab td a.all{
	background:#4dc7c8; 
	color:white!important; 
	padding:0 4px
}
.card-search-bar{
	background:#4bc7c7;
	margin:0px!important;
	padding:0 0 4px 0!important;
	height:40px; 
	line-height:40px
}
.card-search-bar span{
	color:white;
	margin-left:10px;
	font-size:12px;
	margin-top:-5px!important
}
.goods-num span{
	color:#d9534f;
	font-weight:bold;
}
.table.cardlist{
	background:white;
}
.table.cardlist tr td{
	vertical-align:middle;
	color:#787878;
}
.table.cardlist tr td:nth-of-type(1){
	width:40%;
}
.table.cardlist tr td:nth-of-type(2),.table.cardlist tr td:nth-of-type(3){
	width:20%;
}
.cardlist tr td:nth-last-of-type(1){ 
	text-align:center; 
	vertical-align:middle!important
}
.page{
	clear:both;
	width:100%;
	display:block; 
	text-align:right
}
.page a{
	color:#4cc7c8!important;
}
.page ul{
	margin:0;
	padding:0;
}
.card-intro{
	width:240px;
	border:1px solid #4bc7c7;
	border-radius:5px;
	background:white;
	padding:10px;
	float:right;
	color:#787878;
}
.card-intro img{
	display:block;
	margin:15px auto;
}
.card-intro h4{
	color:#4bc7c7;
	font-size:1em;
	font-weight:bold;
}
.card-intro p{ 
	text-indent:25px;
	color:#787878
}
.card-search-bar .label{ 
	vertical-align:middle;
	background:none; 
}
/*缤纷活动*/
.simagemask{
	width:100%;
	height:40px;
	line-height:40px;
	background:rgba(255,255,255,.6);
	bottom:-40px;
	position:absolute; 
	z-index:20;
	color:#333;
	-webkit-transition:all .45s ease-in-out;
	-moz-transition:all .45s ease-in-out;
	-os-transition:all .45s ease-in-out;
	transition:all .45s ease-in-out;
}
.simagemask > p{
	margin:0;
	text-align:center;
}
.activity-list .thumbnail{
	padding:20px 20px 0 20px;
}
.activity-list .thumbnail a.imglink{
	position:relative;
	overflow:hidden;
	display:block;
	width:100%;
}
.activity-list .thumbnail a:hover .simagemask{
	bottom:0px;
}
.activity-list .thumbnail img{
	width:100%; 
	height:auto; 
	margin:0 auto 0px auto!important;
}
.activity-list .thumbnail .caption{
	padding:0 9px; 
	margin:-10px 0 0 0!important
}
.activity-list .thumbnail .caption h3{
	font-size:1em; 
	padding:0px!important; 
	text-align:center
}
.activity-list .thumbnail .caption h3 > a{
	color:#4cc7c8}
.activity-list .thumbnail .caption h3 > a:hover{
	color:#3ba6a7;
	text-decoration:none}
.activity-list .thumbnail:hover{
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
/*	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce	*/
}
.kajishao{
	padding:20px;
	background:white;
	border:1px solid #ddd;
	border-radius:5px;
	margin-bottom:20px;
}
/*关于懒到家*/
.about{
	background:white;
	padding:20px;
	color:#666;
	border:1px solid #ddd;
	border-radius:5px;
	margin-bottom:20px;
}
.about p{ text-indent:25px; line-height:25px}
.about img{
	display:block;
	margin:20px auto;
}
/*分享*/
.share{
	text-align:center;
}
.share h2{
	font-size:2em;
}
.share p{
	color:#666;
	line-height:25px;
	padding:20px 0;
}
.shareicon > img{
	margin:0 10px;
}
.shareicon > img:hover{
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce		
}
@media (max-width:767px){
	.shareicon > img{
		width:50px;
		height:50px;
		margin:0 5px;
	}
}
/*评论*/
.mypinlun{
	background:white;
	padding:20px;
	border:1px solid #ddd;
	border-radius:5px;
}
.mypinlun td{
	color:#4cc7c8;
	font-size:1.2em;
	border-top:none!important;
}

.star{
	list-style:none;
	padding:0;
	margin:0;
}
.star li{
	float:left;
	width:24px;
	height:25px;
	background:url(../img/star-icn.png) no-repeat left -25px;
	margin-right:10px;
}
.star li.active{
	background:url(../img/star-icn.png) no-repeat left 0px;
}
.star li > a{
	display:block;
	width:24px;
	height:25px;
}
.advice textarea{
	width:100%;
	font-size:1em;
	border-radius:5px;	
}
@media (max-width:767px){
	.mypinlun td{
		font-size:1em;
	}
	.star{
		margin-top:5px;
	}
	.star li{
		width:14px;
		height:15px;
		background:url(../img/s-star-icn.png) no-repeat left -15px;
		margin-right:5px;
	}
	.star li.active{
		background:url(../img/s-star-icn.png) no-repeat left 0px;
	}
}
.currency{
	color:#e95259;
	font-weight:bold;
	font-size:1.4em;
}
/*支付方式*/
.pay-box{clear:both; display:table}
.pay-box .radio-inline{margin-bottom:20px;float:left; display:table-cell;}
.payfs h2{font-size:14px}
.banklist > div{margin-bottom:15px}
.paysuccess h2{font-size:20px; text-align:center;color:#4cc7c8;padding-bottom:30px}
.paytips{display:block; clear:both; margin-top:50px}
@media (min-width:991px){
	
}
.add-on{ 
	background:url(../img/glyphicons-halflings.png) no-repeat center center;
	width:16px;
	height:16px; 
	position:absolute;
	right:35px;
	top:15px;
	cursor:pointer;
}
.bootstrap-datetimepicker-widget.dropdown-menu > ul{padding:10px 20px; list-style:none;}
.bootstrap-datetimepicker-widget.dropdown-menu .table-condensed th{font-weight:normal!important}
.bootstrap-datetimepicker-widget.dropdown-menu .table-condensed th.prev{font-size:2em; cursor:pointer}
.bootstrap-datetimepicker-widget.dropdown-menu .table-condensed th.next{font-size:2em; cursor:pointer}
.bootstrap-datetimepicker-widget.dropdown-menu .table-condensed tbody td{ cursor:pointer}
.addDizhi{width:100%;height:40px;font-size:1.2em;color:#fff;background:#4cc7c8;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:150px}
.addDizhi:hover{color:#fff;}
/*活动*/
.clothsList{width:100%}
.freeWashTit{background:#eb6f6f; text-align:center;color:white;-webkit-border-radius:50px 50px 0 0;-moz-border-radius:50px 50px 0 0;border-radius:50px 50px 0 0;font-size:1.2em;height:40px; line-height:40px;}
.clothTable{width:100%}
.table > thead > tr > th{border-bottom:none}
.clothTable thead > tr > th{text-align:center;background:#87cdcd;color:white;border-top:10px solid white;border-bottom:10px solid white}
.clothTable td{text-align:center}
.clothTable tbody td{border:6px solid white;width:25%;font-size:.8em}
.xd-btngroup{text-align:center;}
@media (max-width:767px){
	.clothTable thead th{font-size:.8em}
	.clothTable tbody td{border:6px solid white;width:25%;font-size:.7em;}
}
