#root {
    -fx-background-color: #333333;
    -fx-padding: 1px;
}
#ModalDimmer {
    -fx-background-color: rgb(0,0,0,0.5);
}
#mainToolBar {
	-fx-background-color: #888888;
	/*-fx-background-color: #57b9f8;
    -fx-background-image: url("../image/top-bar2.png");*/
    -fx-background-position: left top;
    -fx-background-repeat: no-repeat;
}
#window-resize-button {
    -fx-background-image: url("../image/window-corner.png");
    -fx-background-position: right 1px bottom 1px;
    -fx-background-repeat: no-repeat;
}
#window-close {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("../image/window-close.png");
    -fx-padding: 9 13 9 12;
}
#window-min {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("../image/window-min.png");
    -fx-padding: 9 13 9 12;
}
#window-max {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("../image/window-expand.png");
    -fx-padding: 8 13 9 12;
}
#window-close:hover {
	-fx-background-color: #ff2e2e;
    -fx-background-image: url("../image/window-close.png");
}
#window-min:hover {
	-fx-background-color: #3c86c4;
    -fx-background-image: url("../image/window-min.png");
}
#window-max:hover {
	-fx-background-color: #3c86c4;
    -fx-background-image: url("../image/window-expand.png");
}
/* Window Button Styles */
.window-button {
    -fx-skin: "com.sun.javafx.scene.control.skin.ButtonSkin";   
	 -fx-padding: 0 0 0 0;
    /* workaround for button sizing */
    -fx-font-size: 1px;
}
/* Remove all scrollpane borders */
.noborder-scroll-pane {
    -fx-padding: 0;
    -fx-background-color: null;
    -fx-background-insets: 0;
}
/* move buttom arrow up to make room for window rewsize button */
.application .noborder-scroll-pane > * > .scroll-bar:vertical {
    -fx-padding: -1.0 -1.0 12 0.0;
}
.application .web-view-window-corner .scroll-bar:vertical {
    -fx-padding: 0 0 12 0;
}