	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images/xizhuang1.jpg" /></div>
			<div class="txt right">
				<h2></h2>
				<p>1、用细毛刷子轻轻刷去吸附在西服上的灰尘，如果西服沾上其他的纤维或较不容易除去的灰尘，可以用胶带纸加以吸附。</p>
				<p>2、毛料西服在相对湿度35%-40%环境中放一晚，可除去衣服皱纹。</p>
				<p>3、下班不穿或换季不穿最好用专用西服衣架挂好,并清除口袋内的物品，以免变形不服帖。</p>
				<p>4、把樟脑丸用白纸或浅色纱布包好，散放在箱柜四周，或装入小布袋中悬挂在衣柜内防虫防蛀。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
					<p>给为梦想和家庭打拼的自己多一份呵护，多一些关爱。身着洁净有型的西服可在商务会议、谈判等严肃场合塑造你沉稳、干练的气质，也可以在上班途中树立严谨、精干的工作形象。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images/xizhuang2.jpg" /></div>
			<div class="txt right">
				<h2></h2>
				<p>西装是对工艺技术要求最好的服装品种，在固定西装的版型时使用到了大量的特定工艺，有的工艺是内衫在衣服里面的，如果一旦移动了，会使西服变形且不易修复，即使想修复也要拆线调整。其实西服一旦变形是很难修复到原来版形的样子。</p>
				<p>具体的来说就是:<br />
				1、西服垫肩一般不能沾水，沾水可能会移位，变型；<br />
				2、西服胸部一般都有粘合衬或者半麻衬，这些胸衬遇水可能会变形。<br />
				因此，保持西服版型的最好洗涤办法就是干洗。
				</p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
