	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\hunsha1.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>1、在购买的时候可以问一下，这款婚纱是什么质料，附属的小珠子、小闪片有什么讲究。</p>
				<p>2、婚纱内的大大的裙箍可以扭转起来收藏，但每年翻晒衣物时，要将裙箍恢复原状，免得它失去弹性。</p>
				<p>3、如果你打算把婚纱礼服挂起来，无论时间长短都要用原色棉絮将衣架包起来，这种原色棉絮可以在布艺店或裁缝店买到。然后把婚纱礼服放在一个透气性好的棉帆布衣服袋里挂起来。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>洁白的婚纱，是爱情秋收的果实，是缘分的印证，是少女迈向入生的又一新阶段，更是新娘永远不变的挚爱。
懒到家，让您的婚纱洁净如新，为您保留人生最美好的回忆！</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\hunsha2.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>婚纱都需要干洗，比如醋酸纤维的面料，以及人造丝，羊毛还有丝质的面料。在洗涤的时候一定要选择以及过滤过的溶剂，并且新娘在洗涤之前一定要知道到底是哪边脏，有污渍，否则即使洗完之后也会有残留。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
