	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\qipao1.jpg" /></div>
			<div class="txt right">
				<h2></h2>
				<p>1、旗袍不要连续穿着好几天。 </p>
				<p>2、要留意尖锐的物件，避免旗袍钩洞与抽丝。</p> 
				<p>3、不要贪方便将袖子高高卷起。 </p>
				<p>旗袍的洗烫：</p>
				<p>新穿的旗袍如果不小心弄脏了，可以用微湿的布铺在脏处用熨斗熨烫一下，这样灰尘就会附着到布上，既清洁了旗袍，又起到整烫的作用。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>自然而然的流年，异域印染的风华掠过江南小镇，洗尽铅华遗留洁净一身，以清洁诠释美好和永恒。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\qipao2.jpg" /></div>
			<div class="txt right">
				<h2></h2>
				<p>旗袍属丝绸服装。因丝绸织品质料薄，受摩擦后容易起毛或表面出现绒球。使用洗衣机洗涤，不仅会使丝绸衣服变形、褪色、而且会缩短衣服的寿命。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
