	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\lifu1.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>1、收藏时，应把礼服洗净，最好熨烫一遍，可以起到杀菌灭虫的作用。衣柜衣箱要保持清洁、干燥、通风。</p>
				<p>2、丝绸礼服质地较薄、柔软、怕压，最好挂装存放,保持干燥,防虫剂必须用布包好,不要直接接触衣物。</p>
				<p>3、丝绸类服装中不宜放卫生球，否则白色会泛黄。柞蚕丝不宜与桑蚕丝放在一起，因前者会使后者变色。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>懒到家，让您的礼服洁净，飘逸。在重要场合尽显女性风韵。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\lifu2.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>礼服都需要干洗，比如醋酸纤维的面料，以及人造丝，羊毛还有丝质的面料。在洗涤的时候一定要选择以及过滤过的溶剂，并且新娘在洗涤之前一定要知道到底是哪边脏，有污渍，否则即使洗完之后也会有残留。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
