	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\yupao1.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>1、要经常清洗浴袍，避免其细菌滋生，对身体健康产生影响。</p>
				<p>2、浴袍在使用、洗涤后要平整放置，防止起褶皱。</p>
				<p>3、保持存放地点的干燥和清洁，避免细菌滋生。</p>
				<p>4、洗涤后的浴袍最好放在阴凉处晾晒，避免阳光直接暴晒。 </p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>一天的辛劳之后，洗个热水澡放松身体。清新洁净的浴袍，芳体散发出的清香，漫不经心的随意，清爽洁净、高贵典雅，生活就是要如此惬意。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\yupao2.jpg"/></div>
			<div class="txt right">
				<h2></h2>
					<p> 浴袍一般比较厚重，不可能每天穿过都洗，甚至有的人身体没擦干就直接披上浴袍，这样很容易感染细菌。然而经常洗涤又会变硬，长时间累积的病菌又很容易对人体皮肤造成不同程度的威胁。所以，家纺专家建议浴衣浴袍要定期更换。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
