	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\baonuanneiyi1.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>1、不能随意对保暖内衣用有化学反应的添加洗涤剂、漂白水等，以免损害衣物结构和脱色。 </p>
				<p>2、抚平皱折后挂在衣架上晾起来，避免阳光直接照射。 </p>
				<p>3、应尽量减少使用密封胶袋来保存内衣，衣物长期封闭容易引起发霉。 </p>
				<p>4、毛质内衣切忌潮湿，应配合干燥剂使用。 </p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>懒到家，用自己的方式，给您最想要的极致洁净，让您在这个冬天享受温暖的同时，更多一份洁净。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\baonuanneiyi2.jpg"/></div>
			<div class="txt right">
				<h2></h2>
					<p>保暖内衣是冬天每个人都必备的衣物，通常是直接接触皮肤的，要经常进行清洗。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
