	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\chenshan1.jpg" /></div>
			<div class="txt right">
				<h2></h2>
				<p>1、避免强光日晒，最好放在阴凉处晾干。 </p>
				<p>2、用宽角衣架，晾干后肩部不会留下衣架的痕迹，使衣型更好。 </p>
				<p>3、如果肩部有衣架痕迹的，把衣服放平，用喷水器给肩部喷点雾水，第二天就会恢复原状，或者用吹风筒及时吹干也可。 </p>
				<p>4、新衬衫最好洗后再穿，衬衫是贴肤穿，洗后穿会更舒适。 </p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>干净如新的衬衫不仅给自己很大的自信，而且也会带给别人舒服的感觉。懒到家，让你倾听最初始的内在声音，让洁净从内而外，给您带来不一般的穿衣感受</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\chenshan2.jpg" /></div>
			<div class="txt right">
				<h2></h2>
				<p>衬衫领子和袖口最难洗干净，洗不干净很容易变黑。市场上出现众多衣领净，喷、涂等都能使衬衫变得容易洗涤，但是衬衫如果穿的时间过长很难洗回原色，浸泡还有可能把衣领洗烂,另外衬衫领子和袖口，多数采用粘合衬或树脂衬，保型效果很好，不适宜用传统无规律的揉搓，这样很容易使衬衫在洗涤过程中由于挤压，产生褶皱变形。
				</p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
