	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\zhengzhishan1.jpg" /></div>
			<div class="txt right">
				<h2></h2>
				<p>1、针织衫容易变形，因此不可以大力拉扯，以免衣服走形，影响你的穿着品位。</p> 
				<p>2、针织衫穿久了，有些部位会磨的发亮。对此可用醋、水各半混合液喷洒一下，然后再洗涤，即可恢复原样。</p> 
				<p>3、白色针织衫穿久了会逐渐发黑。如果将针织衫清洗后置入冰箱冷冻一小时，再取出晾干即可洁白如新。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>给她，加倍呵护，由心掌控；<br />
				给他，悉心照料，知寒体暖；<br />
				用心有你，洁净有我--懒到家！</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\zhengzhishan2.jpg" /></div>
			<div class="txt right">
				<h2></h2>
				<p>织衫以天然原料(棉、羊毛、丝等)织成丝线后，再编织成衣物，舒适，保暖是天然物料的特性，但易起毛球及皱，所以，部分衣物适当的混纺做法会轻易打理。专业干洗是优选方法，使衣物的寿命随之加长。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
