	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\diaodaishan1.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>也许你会觉得吊带衫无须保养，那么你错了。吊带衫是直接贴肤穿的衣物，平时除了洗涤方面要注意，更要注意不穿的时候应叠放整齐在柜子内，并放一些干燥剂在柜子内。 </p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>吊带衫是女性的大爱，舒适，简单。夏天随意的穿在身上都能显示女性的美丽。<br />懒到家，妈妈般的贴心服务，让您的美丽，从内而外。  </p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\diaodaishan2.jpg" /></div>
			<div class="txt right">
				<h2></h2>
				<p>吊带衫除了不当的清洗导致起球、泛黄、变硬之外，肩带在清洗中很容易被忽略的，即使注意到了，由于它就细细的两根也很难彻底清洁干净，所以还没穿几次肩带就会脏兮兮的，实在有损形象。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
