	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\fangfushefu1.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>1、洗涤时不可漂白，或使用含漂白成分的洗涤剂。 </p> 
				<p>2、不可机洗，不能甩干，应悬挂晾干。  </p> 
				<p>3、蒸汽熨斗熨烫，切勿使用电熨斗。  </p> 
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>懒到家，针对防辐射服使用中性洗涤液洗涤，最大限度延长防辐射服的使用期限。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\fangfushefu2.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>防辐射服一般要穿很多天才换洗，污渍积累了几天会很难清洗干净，残留污渍留下的印记会很难看，有时候防辐射服就这样报废了。防辐射服，衣服里面都有金属丝，洗涤不当会破坏它的结构，影响使用效果，所以要专业轻柔洗涤。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
