	<div class="productDetail model2">
		<div class="bigpic"><img src="~/Content/images/xiku2.jpg"/></div>
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="txt">
				<h2></h2>
				<p>1、收藏存放西裤应选择通风干燥处。  </p> 
				<p>2、不可把没有干透的西裤进行收藏存放。 </p> 
				<p>3、收藏存放期间，要适当进行通风和晾晒。 </p> 
				<p>4、把樟脑丸用白纸或浅色纱布包好，散放在箱柜四周，或装入小布袋中悬挂在衣柜内防虫防蛀。 </p> 
				<p>5、西裤存放的时候，一定要用衣架挂起来，并把口袋内的物品统统拿出来，还要把皮带抽走。</p> 
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt">
				<h2></h2>
				<p>西裤洗涤最注重的是不破坏西裤原有的造型，挺直的裤线才能展现西裤的魅力。西裤尤其是高档西裤，洗涤方式不当很容易导致褶皱和变形，大大影响西裤的穿着效果和使用寿命。</p>
				<div class="line"></div>
			</div>
			<div class="pic"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="txt left">
				<h2></h2>
				<p>身着洁净有型的西裤可在商务会议、谈判等严肃场合塑造你沉稳、干练的气质，也可以在上班途中树立严谨、精干的工作形象，也可在旅途中保持清爽、整洁的形象。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic02.jpg" /></div>

		</div>
		<!--洗涤技巧 end-->
	</div>
