	<div class="productDetail model2">
		<div class="bigpic"><img src="~/Content/images/pic01.jpg" /></div>
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="txt">
				<h2></h2>
				<p>1、用透气的物品（如整理袋）包好，放入一粒樟脑球以防虫蛀，然后存放于通风干燥的衣柜内即可，注意上面不要受重压。 </p>
				<p>2、夏秋季节雨水多，雨季过后，最好把羽绒服拿出来晾一晾，防止霉变。</p> 
				<p>3、如果发现有霉点，可用棉球沾酒精擦拭，再用干净的湿毛巾擦洗干净，晾透后再妥善收藏。 </p>
				<p>4、注意不能放在阳光下曝晒。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt">
				<h2></h2>
				<p>懒到家，用自己的方式，给您最想要的极致洁净，让您在这个冬天享受温暖的同时，更多一份洁净。</p>
				<div class="line"></div>
			</div>
			<div class="pic"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="txt left">
				<h2></h2>
				<p>寒冷的冬季，羽绒服成了最常穿的衣物，由于填充物的超强吸水性，自己洗涤无疑为忙碌的生活又添一难题，并且洗过之后保暖性下降，也失去了原先的蓬松感，甚至还会褪色。</p>
				<p>懒到家采用专用洗涤剂，结合羽绒服的特性进行分类洗涤，我们的用心带给您彻底的安心。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic02.jpg" /></div>

		</div>
		<!--洗涤技巧 end-->
	</div>
