	<div class="productDetail model2">
		<div class="bigpic"><img src="~/Content/images/yurongku.jpg"/></div>
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="txt">
				<h2></h2>
				<p>1、一定要把羽绒裤放置在一个比较干燥的地方，这样就不会造成对羽绒裤的损坏。 </p> 
				<p>2、要避免阳光的直射，因为紫外线会伤害到羽绒裤的表层，这一点是很多人都没有注意到的。 </p> 
				<p>3、一定要把羽绒裤与其他服装分开放，这也是为了保护羽绒裤。</p> 
				<p>4、夏秋季节雨水多，雨季过后，最好把羽绒裤拿出来晾一晾，防止霉变。 </p>  
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt">
				<h2></h2>
				<p>羽绒裤让您在冬天享受温暖！</p>
				<p>懒到家让您在冬天倍感洁净！</p>
				<div class="line"></div>
			</div>
			<div class="pic"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="txt left">
				<h2></h2>
				<p>羽绒裤保暖舒适，但透气性很差，身体内散发的湿气很难散发出来，而直接吸附在裤子内侧，慢慢浸入羽绒中滋生病菌，危害人体健康。另外，羽绒裤由于其特殊的材质，很容易蹭脏，日常清洗很容易使绒毛板结，导致变形和保暖性变弱。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic02.jpg" /></div>

		</div>
		<!--洗涤技巧 end-->
	</div>
