	<div class="productDetail model2">
		<div class="bigpic"><img src="~/Content/images/chongfengku.jpg"/></div>
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="txt">
				<h2></h2>
				<p>1、穿过的冲锋裤，较长时间不穿就要进行一次彻底的清洗。 </p> 
				<p>2、户外旅行时，不要让背包长期挤压冲锋裤，否则挤压会加快冲锋裤防水透气薄膜的磨损，应当将冲锋裤的裙摆拉到腰带上方然后再扣腰带，这样就能够有效地避免冲锋裤被背包带所带来的磨损。 </p> 
				<p>3、存放的时候尽量避免压叠,最好拿衣架撑开直接挂进衣柜。</p> 
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt">
				<h2></h2>
				<p>穿上战袍，迎接挑战！</p>
				<p>挑战归来，卸下战袍！</p>
				<p>赶快上懒到家，让战袍也享受一次专业洗涤SPA！</p>
				<div class="line"></div>
			</div>
			<div class="pic"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="txt left">
				<h2></h2>
				<p>冲锋裤在制作的过程中，为了保证防水、透气和防风性能，冲锋裤的面料上采用了各种涂层或薄膜，为了使薄膜不会自然损坏，在洗涤方式上要不同于普通衣服。不正确的洗涤方式会严重破坏冲锋裤的防水性能，过强的外力和腐蚀性强的物质也会损伤薄膜，因此最好不要自己擅自手洗冲锋裤。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic02.jpg" /></div>

		</div>
		<!--洗涤技巧 end-->
	</div>
