	<div class="productDetail model2">
		<div class="bigpic"><img src="~/Content/images/niuzaiku.jpg" /></div>
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="txt">
				<h2></h2>
				<p>1、第一次洗时在水中倒一些盐，同时把牛仔裤翻转过来浸湿半小时，用来锁住颜色，减少褪色。  </p> 
				<p>2、将牛仔反面放入水中，手洗避免清洗褪色。 </p> 
				<p>3、千万别用热水浸泡牛仔，那会有很大程度的缩水现象，水温保持30度以下。 </p> 
				<p>4、勿用漂白剂或任何添加漂白剂或荧光剂的产品。  </p> 
				<p>5、晾干牛仔时，一定要从腰部平整挂起反过来晾晒，晾在干燥通风处，避免阳光暴晒，否则容易导致严重的氧化褪色或变硬。 </p> 
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt">
				<h2></h2>
				<p>褪色是牛仔最大的缺点，你忍心放纵时尚个性的牛仔裤刚穿过几次就面目全非吗？懒到家，让您的牛仔裤洁净如新，让您的个性持续演绎。
				</p>
				<div class="line"></div>
			</div>
			<div class="pic"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="txt left">
				<h2></h2>
				<p>牛仔裤是日常生活中最常穿的裤子，但是牛仔吸湿纳汗，缝隙中容易藏污纳垢，由于面料较硬，日常洗衣很难彻底地清洁，时间久了会产生异味儿，这是一些繁殖的微生物在作祟。不正确的洗涤会使面料变软，色泽暗淡，洗过几次之后很容易变得不再那么合身。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic02.jpg" /></div>

		</div>
		<!--洗涤技巧 end-->
	</div>
