	<div class="productDetail model2">
		<div class="bigpic"><img src="~/Content/images/baonuanku.jpg"/></div>
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="txt">
				<h2></h2>
				<p>1、保暖裤不应曝晒以免对棉料造成损伤。 </p> 
				<p>2、保暖裤在收藏之前应先清洗干净，防止布质发硬，避免浮色污染其他衣服。 </p> 
				<p>3、刚晾晒好的保暖裤可先熨烫定型，然后折叠存放。  </p> 
				<p>4、如存放的时间较久，尤其是雨季过后，最好能把保暖裤拿出来晾一晾才不容易发霉。 </p> 
				<p>5、如发现霉点可用酒精拭擦，再以湿布擦洗干净，晾透后再妥善收藏。</p> 
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt">
				<h2></h2>
				<p>洁净让您愿意亲近，蓬松让您更加舒适，在温暖中轻松舒适的抵御严寒的侵袭。</p>
				<div class="line"></div>
			</div>
			<div class="pic"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="txt left">
				<h2></h2>
				<p>保暖裤清洗不当，会缩水变形不保暖，既不美观又不实用了。棉服尽量不要用洗衣机洗，否则棉絮会被洗衣机拧绞板结，减短保暖裤的寿命。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic02.jpg" /></div>

		</div>
		<!--洗涤技巧 end-->
	</div>
