	<div class="productDetail model2">
		<div class="bigpic"><img src="~/Content/images/dadiku.jpg"/></div>
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="txt">
				<h2></h2>
				<p>1、开粗糙、坚硬东西，以免被刮破或抽丝。 </p> 
				<p>2、打底裤穿用之前连包装放进冰箱冷冻库中冰冻24小时以上，可以延长其寿命。 </p> 
				<p>3、如果不小心刮破，可蘸一小滴透明色指甲油在洞口处掩饰瑕疵，又可避免脱线。</p> 
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt">
				<h2></h2>
				<p>迷人的双腿，怎能少了洁净光泽的打底裤呢？<br /> 柔软、舒适、透气尽在懒到家无微不至的呵护中。</p>
				<div class="line"></div>
			</div>
			<div class="pic"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="txt left">
				<h2></h2>
				<p>打底裤洗过之后容易起球，失去弹性，尤其是冬天加厚的打底裤，洗涤不当会使里面的绒拧成一团，严重导致打底裤变形，变得不再贴身，并且表面丝层破损，保暖性大大降低。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic02.jpg" /></div>

		</div>
		<!--洗涤技巧 end-->
	</div>
