	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\majia1.jpg" /></div>
			<div class="txt right">
				<h2></h2>
				<p>1、马甲脱下后用衣架挂起并及时取出口袋里过重物品。</p> 
				<p>2、羊绒马甲保持干燥和干爽，并轻拂去灰尘。</p> 
				<p>3、如果马甲出现褶皱，可以将蒸汽电熨斗调整至低温状态，在距离马甲1-2cm处进行熨烫。也可以将一条毛巾盖在马甲上再熨烫。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>清洁有我，洁净到家。<br />懒到家，最贴心的洗衣专家！</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\majia2.jpg" /></div>
			<div class="txt right">
				<h2></h2>
				<p>马甲材质不同，洗涤方式也各异，虽然不贴身穿，但是会与打底衣摩擦起静电，吸附尘污，或变色，或变形，或起球。不要以为它不直接接触身体就十天半月洗一次，这样污垢病菌会大量繁殖的造成污染的，尤其是西装马甲、羽绒马甲、针织马甲常穿在外衣里面，把外衣磨脏了，清洗外衣就更麻烦了，所以马甲一定要勤洗。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
