	<div class="productDetail model2">
		<div class="bigpic"><img src="~/Content/images/yangmaoku.jpg"/></div>
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="txt">
				<h2></h2>
				<p>1、羊毛很容易被虫蛀，加上轻薄易变形，所以收藏前必须洗净晾干，叠好装袋平放，切忌挂放，以免悬垂变形。</p> 
				<p>2、不要与其他类产品同袋混放。 </p> 
				<p>3、放在避光、通风、干燥处，存放时要注意防蛀，严禁防蛀剂与羊毛衫直接接触。 </p> 
				<p>4、由于羊毛纤维纤细柔和，如不注意极易受损伤。  </p> 
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt">
				<h2></h2>
				<p>懒到家为您提供贴身的清洁，传递您贴身的爱心，让您的爱时刻柔若溪流、软如肌肤。 </p>
				<div class="line"></div>
			</div>
			<div class="pic"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="txt left">
				<h2></h2>
				<p>羊毛裤洗涤不当会起球变形，更严重的是保暖性下降了。有时候清洁不彻底就收藏起来容易被虫蛀侵蚀。懒到家为您提供贴身的清洁，传递您贴心的爱，让您的爱时刻柔若溪流、软如肌肤。
</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic02.jpg" /></div>

		</div>
		<!--洗涤技巧 end-->
	</div>
