	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\maozi1.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>1、帽子脱下后，不要随便乱放，应该挂放在衣帽架上，或者衣钩上，上面不要压重物，以免走样变形。</p> 
				<p>2、帽子戴久了，帽子的里外会沾上油垢、污物，要及时洗刷掉。 帽衬可以拆下洗净，再绷上，以免帽衬上的汗污受潮发霉，影响帽子 寿命。</p> 
				<p>3、帽子上的灰要经常刷。粘附在帽面上的污泥、油垢， 可用软刷蘸上热肥皂水轻轻刷洗，再用清水洗净。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>给她，加倍呵护，由心掌控；</p>
				<p>给他，悉心照料，知寒体暖；</p>
				<p>用心有你，洁净有我--懒到家！</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\maozi2.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p> 毛料的帽子洗后,恐防有缩水的情形出现,可将一匙氨水放在温水中然后将帽子浸透,再进行搓洗,便可防止衣服缩水。在洗涤针织混合缝制的帽子时,只需针对适合针织布料的清洁法处理,可用中性洗涤剂清洗。建议您使用健康的洗涤产品，如船牌液态皂。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
