	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\weijin1.jpg" /></div>
			<div class="txt right">
				<h2></h2>
				<p>1、避免指甲等尖锐的物品勾拉，如果只勾出一条可以顺着织法纹路拉平整即可。 </p> 
				<p>2、最好不要与衣服一同放置，避免被衣服上的拉链或扣子拉坏。 </p> 
				<p>3、收藏时卷成寿司状，一卷卷的放入抽屉中，可避免展开时有折痕。</p>
				<p>4、将熨斗温度调至中温状态，烫前将晾干的围巾均匀喷上水雾，铺上浸润后挤干的白纱布片，要顺着经纬线顺序，切忌斜线走偏，使围巾变形，并根据洗涤后变形度和质地薄厚，适当用重物压。 </p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>懒到家，承诺让洗涤后的围巾焕然一新，色泽艳丽依旧。为冬日的您增添一份温暖，更多添一抹亮色。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\weijin2.jpg" /></div>
			<div class="txt right">
				<h2></h2>
				<p>围巾多色泽艳丽，编织较松，洗涤不当很容易造成色泽暗淡和变形，且围巾和口鼻全面接触，头发上的头皮屑会掉落到围巾上，容易滋生细菌，长时间不清洗或消毒杀菌不彻底，会造成口腔和肠道的问题。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
