	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\pijian1.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>1、羊毛披肩需干洗，否则容易缩水或使毛色质感发生变化；若披肩是真丝或细绸的，最好也以干洗的方式处理。 </p> 
				<p>2、珠花刺绣类的披肩不可丢入洗衣机中，以免珠花断裂或钩纱、针脚的脱线破坏了整体效果。 </p> 
				<p>3、高级羊毛或珠花刺绣的披肩在收纳时，建议用透明塑胶袋或购买皮包时附赠的绒布袋装好后再放入抽屉，避免开拉抽屉对其造成损伤。 </p>
				<p>4、可以将羊毛披肩卷成寿司形状，一卷卷地放入抽屉中，可以大大减小披肩的收纳空间，也避免产生褶痕。 </p>
				<p>5、羊毛披肩钩纱后，别担心，若只钩出一条纱线，顺着编织纹路拉扯平整即可，再不然就用细针来调整。 </p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>披肩作为女性时尚搭配的必备之品，其做工越来越精美。懒到家让美丽的背后，清洗不再是难题。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\pijian2.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>披肩容易蹭脏，并且有时候出席晚会很可能沾上一些酒渍菜渍，洗涤不当会使披肩的色泽变暗、变形。一般情况下，披肩价格比较贵，建议进行专业洗涤，这样能够使披肩保持原先的形状，对精美花纹中的细小污渍也能够进行全方位的清洗，使披肩始终鲜亮如新，延长它的配戴寿命。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
