	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\maoling1.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>1、把毛领从衣服上卸下来，放在卓面上。</p> 
				<p>2、一手拿着吹风机一手拿着毛领，要按顺时针的方向吹，千万不要来回吹。这样不仅羽绒服很快地就蓬松起来而且也相当地好看和保暖。</p> 
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>懒到家，专业的洗涤护理方法让毛领既不容易跑毛，也不会损坏毛领原有的形状，蓬松的效果也相当的好。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\maoling2.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>真皮毛领的洗涤办法 冬季时，许多高档服装都要配上款式相应的真皮毛领，真皮毛领不仅能起到保暖作用，同时也给服装增添不少不彩。但是真皮毛领受到污染时，就会影响皮革服装整体的韵律，因此，必须要及时进行洗涤去污。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
