	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\mianwa1.jpg" /></div>
			<div class="txt right">
				<h2></h2>
				<p>  白色棉麻涤纶材质的袜子：在半盆水（约2升）中加入蓝色月光白色衣物色渍净（600g规格）1瓶盖（40克），搅匀，放入袜子浸泡30分钟，漂洗干净。若浸泡2小时后仍有污渍未去除，将袜子取出，往盆中再添加1瓶盖本品，搅匀，放入袜子继续浸泡。累计浸泡时长不超过6小时。  </p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>彩色及其它材质的白色袜子：将袜子放入盆中，污渍部位贴盆底，用蓝色月光彩色衣物色渍净（600g规格）瓶盖量取1/4瓶盖（10克）彩色衣物色渍净和1/4瓶盖（10克）蓝月亮衣领净，倒在污渍处，用袜子其他无污渍部位盖住污渍，防止风干，静置2小时，漂洗干净。若2小时后仍有污渍未去除，可延长静置时间至过夜。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\mianwa2.jpg" /></div>
			<div class="txt right">
				<h2></h2>
				<p>无明显污渍时，用水溶解洗衣液，放入袜子浸泡20分钟左右，再搓洗，漂洗干净即可，袜子应与其他衣服分开洗涤，避免交叉感染。若局部有污渍时，可采用“蓝月亮干衣预涂法”去除，在衣服干的时候，将蓝月亮手洗专用洗衣液原液涂抹在污渍处，静置5分钟，再正常洗涤，可有效去除油渍、泥渍等污渍。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
