	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\yundongxie1.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>1、切忌接触有机试剂和油脂类溶液、化合物、真皮面。 </p> 
				<p>2、不宜在温度较高的环境下长时间穿用。</p> 
				<p>3、尽量保证在45摄氏度至零下20摄氏度环境范围内穿着。 </p>
				<p>4、如长时间不穿，应先将鞋刷干净，放置于阴凉处存放，避免放生霉变。鞋内最好用填充物撑起，避免变形。 </p>
				<p>5、不要穿一般的慢跑鞋或走步鞋进行足球等剧烈运动。任何一种运动鞋都不能与利器接触。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>运动，让人充满活力！</p>
				<p>运动，让人更加年轻！</p>
                <p>懒到家，给您一双洁净的运动鞋，让您尽情挥洒青春，享受运动的乐趣。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\yundongxie2.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>运动鞋以其轻盈和舒适已经成为人们在日常生活中的必需品。穿着洁净、时尚的运动鞋让人富有活力，更显年轻。运动鞋穿着久了会慢慢失去光泽，如保养不当更会出现泛黄，变色的后果。因此，经常保养运动鞋尤为必要。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
