	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\chuangdan1.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>1、床单最好进行每周一次的清洗，可以让积聚在床上的残渣、细菌等无处藏身。</p>
                <p>2、收藏时清洗干净，彻底晒干，折叠整齐，并放入一定量的樟脑丸（不能与床品直接接触），长期不使用的床品再重新使用前可先在阳光下晾晒，使其恢复蓬松。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>洁净小常识：<br />
				（1）新买的床单最好用食盐水浸泡后洗干净再用。 <br />
				（2）白天最好在床单、枕头上盖一层密致的床罩，能防菌防尘。<br />
				（3）为了您的健康，尽量不要在床上吃东西。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\chuangdan2.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>床单脏不脏，如果你肉眼看不到的话你就会忽略他。人体脱落的皮肤细胞会成为螨虫的食物，螨虫和它们的粪便也会逐渐地堆积在床单上。同时毛发、头皮屑、真菌、霉菌、分泌的体液和其他一些细菌也会累积。此外，灰尘、棉绒、细小昆虫、沙子和化妆品碎粒等也会“光顾”床单。您的床单该洗了吧？</p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
