	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\zhenxin1.jpg" /></div>
			<div class="txt right">
				<h2></h2>
				<p>1. 常清洗枕芯外套。</p>
				<p>2. 至少一周晾晒两次。</p>
				<p>3. 至少一个月消毒一次。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>枕芯三天晾晒一次，三个月清洗一次。如果枕芯已经失去弹性，或有凹凸不平的现象就要更换并建议每2年更换枕芯一次。懒到家，立足专业，用心服务，让您洗的放心，睡的舒心。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\zhenxin2.jpg" /></div>
			<div class="txt right">
				<h2></h2>
				<p> 枕芯三个月不清洗 如同与虫菌共眠。枕芯是最容易藏污纳垢的地方，长时间不清洁容易滋生霉菌、螨虫，还可能引发过敏、哮喘等呼吸道疾病。况且现在是换季时节，枕芯经过一个季节的污染，灰尘和细菌都特别多，很容易成为威胁健康的隐形杀手。建议大家在阳光充裕之时应该多晒晒枕头，定期清洗枕芯，最好能两年更换一次枕芯。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
