	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\chuangru1.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>1、如果您的床褥不慎被弄脏，可以用肥皂液来去除床褥表面的污渍，挤干水后再自然风干，或用风筒或烫斗低温烘干。</p>
				<p>2、在沿海地区，受海洋气候的影响，空气比较潮湿，要注意保持卧室内的空气流通，在有条件的情况下，每天应至少开冷气30分钟，以保证床褥不受潮。</p>
				<p>3、可以定期（每三个月左右一次）把床褥的头尾翻转，让床褥的不同部分均匀受力，这样能使床褥的寿命更长。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>改善睡眠质量，不仅要选一床好床褥，更要注重床褥的洁净卫生。懒到家，立足专业，用心服务，让您洗的放心，睡的舒心。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\chuangru2.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p> 床褥的话那就要慎重一点。如果不是很脏最好不要清洗，那会破坏他的柔软度。如果要清洗的话也只能清理那些污渍，不要浸泡，刷洗也可以，用软毛刷。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
