	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\dayi1.jpg"></div>
			<div class="txt right">
				<h2></h2>
				<p>1、大衣上出现了皱折，可以将蒸汽电熨斗调到低温状态，在距离大衣1~2cm处进行熨烫，也可以将一条毛巾盖在大衣上再熨烫。</p>
				<p>2、大衣只要穿过就容易沾上灰尘，最好尽早清除掉。</p>
				<p>3、平时不穿的大衣尽量用衣架挂在通风处，如果是放在柜子里的话，建议最好放入一些干燥剂。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>大衣让您冬季更加美丽，它不仅有羽绒服的温暖，同时比羽绒服更加美丽、时尚。</p>
				<p>起毛、变形、洗不干净，通通不用担心，懒到家为您解决。独家研制的洗涤用品针对不同材质衣物严格分类使用，让您的衣物洁净如新。 </p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\dayi2.jpg"/></div>
			<div class="txt right">
				<h2></h2>
			    <p> 毛呢大衣建议送去专业的干洗店清洗，切勿水洗，机洗，此外污迹一落到毛呢大衣上面，就应立刻清洁，以免留下痕迹。因为同一种污迹，在上面停留的时间越长，越不容易被洗掉；并且，时间一长污迹渗入羊毛纤维中，清洁时必然会使劲摩擦，这样更容易造成毛呢大衣受损，因此一定要保持毛呢大衣的洁净。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
