	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\yujin1.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>1、为保证彻底杀菌消毒，建议高温洗涤或烘干浴巾。</p>
				<p>2、浴巾要经常清洗晾晒，垂直悬挂。</p>
				<p>3、晾晒浴巾时，完全展开，通风良好，以免浴巾潮湿滋生细菌。</p>
				<p>4、放置浴巾的地方至少离马桶3米远。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>懒到家致力于为浴巾换新装，通过消毒、柔化，48小时内把洁净健康给您送到家。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\yujin2.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>浴巾是直接接触人体的日用品，如果没有洗干净或者使用时间长了，会造成细菌滋生而使浴巾产生异味，并且洗涤次数多了会变硬，影响舒适度。据家纺专家介绍，个人用的浴巾应定期更换，最多不应超过3个月，出于对生活的节约，相信大多数人都不会扔掉而继续使用，您可能觉得在市面上买了瓶消毒水、柔软剂就可以放心了，但是健康是马虎不得的，这样不但会缩短浴巾的使用寿命，有时候还会造成二次污染。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
