	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\yulian1.jpg" /></div>
			<div class="txt right">
				<h2></h2>
				<p>1、浴室里的浴帘上布满了细菌，每立方英寸泡沫里有10亿个，有些细菌则是致命的，所以专家建议每周对浴帘进行清洗。 </p> 
				<p>2、霉菌最爱生活在阴暗潮湿的地方，洗浴后，最好拉开浴帘，保持通风换气，保持干燥。 </p> 
				<p>3、浴帘最容易发霉，装修时建议安装抽湿机。 </p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>一天忙碌之后，淋浴可以带走我们的疲劳，不过不要忽略细菌的存在啊！懒到家建议您定期清洗浴帘，并对浴帘进行消毒。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\yulian2.jpg" /></div>
			<div class="txt right">
				<h2></h2>
				<p>由于浴室比较潮湿，浴帘和浴篷上方的空气很容易滋生细菌，如果不及时清洗和除垢，细菌很容易通过雾气进入人体，对健康造成威胁，专家建议，每周清洗一次浴帘。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
