	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\shafatao1.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>1、清洗沙发套，需根据它的材质，选择合适的清洗方法，以防缩水变形。</p> 
				<p>2、坐或躺在沙发上，身上不能有坚硬的物件或金属制品。</p> 
				<p>3、避免阳光直射最好摆放在能避开阳光照射的地方，或用半透明的薄纱遮蔽。</p>
				<p>4、布艺沙发必须每周吸尘一次，去除织物结构间的积尘。</p>
				<p>5、如沾有污渍可用干净抹布蘸水擦拭，为避免留下印迹，最好从污渍外围擦起。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>沙发套不要等太脏了清洗，保持洁净的沙发，就等于给自己的私人空间一份洁净、清新和舒适。有些沙发套极容易缩水，为防止洗后套不上沙发，应及早做好预缩准备。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\shafatao2.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>工作劳累一天后，往往不换衣服直接坐在沙发上小憩会儿，室外的细菌这时候就很容易带到沙发上；拉开窗子释放新鲜空气，室外的浮尘会不经意间飞到沙发上。 </p>
				<p>长时间不清洗沙发套，无形的细菌将威胁您的健康、有形的浮尘也会影响您的生活质量。 </p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
