	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\shuangjianbao1.jpg" /></div>
			<div class="txt right">
				<h2></h2>
				<p>如果双肩背包的表面不是很脏，我们可以用擦拭布或者刷子队其表面进行清洁，如果包体实在太脏的话，我们可以用清水泡置一段时间后在洗涤，必要的时候可以添加适量的登山包专业洗涤剂，如果将登山包送到干洗店洗涤的话，我们最好将登山包的洗涤说明书一起带上，给干洗店的店员提供一个洗涤的程序</p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>懒到家采用正规一流技术为您的包包进行全方面护理，为您解决一切洗涤困扰。<br />懒到家，最贴心的洗衣专家！</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\shuangjianbao2.jpg" /></div>
			<div class="txt right">
				<h2></h2>
				<p>双肩包在洗涤的时候我们要先接一盆清水放置半个小时以上，以免自来水里面的氯粉使我们的双肩背包的背包的表面氧化变色，在双肩背包的拉链洗涤方面如果其实金属材质的我们可以用湿毛巾对其进行擦拭，之后必须要用干毛巾擦干或者用吹风机等风干，如果塑料件，直接用清水冲洗即可。</p>	
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
