	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\danjianbao1.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>单肩包不能曝晒，暂不用时, 最好置于棉布袋中保存, 不要放到塑料袋里, 因为塑料袋内空气不流通, 会使皮革包过干而受损，若没有合适的布袋, 旧枕套也很合用。包内最好塞上一些软卫生纸, 以保持皮包的形状，收藏在柜中的皮包应避免不当的挤压而变形，产品宜远离油性物质和化妆品，因为它们对皮具渗透性。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>懒到家，让包包清洗不再难。时尚有你，洁净靠我！</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\danjianbao2.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>单肩包洗涤可采用1、蛋白液去污法：用一块干净的软布蘸上蛋白液擦拭，这样即可去污，又可以使皮包的表面发亮，而且还不会损坏皮面。蛋白液在一般的大超市都能够买得到，如果你家中没有也可用鸡蛋清代替。</p>
				<p>2、凡士林去污法：先用湿布轻轻擦拭，然后涂上一层凡士林，再用软布反复擦拭，这样皮包的表面就可以光亮如新了。</p>
				<p>3、用湿巾蘸牙膏慢慢擦，或者用风油精和新鲜的香蕉皮擦，可以在皮具不明显处先试试，效果不错。</p>
				<p>4、皮革类包最怕遇水潮湿变硬及皮面刮伤，不小心让你的包包沾污或泡水了，第一时间尽快用卫生纸或毛巾拭干后用吹风机低温吹干。</p>	
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
