	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\shoubao1.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>手包要想延长使用寿命，正确的处理方面尤为重要，在清除皮包上的尘埃和污垢的时候可以用动物毛的毛刷来去除包包表面的尘埃和污垢，如果清理不干净可以用橡皮擦从污垢的中间开始向四周轻轻的擦拭，然后去除污垢</p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>懒到家，让包包清洗不再难。时尚有你，洁净靠我！</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\shoubao2.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>手包是时尚的象征，通常手包都采用PU皮质，因此在洗涤方面在清洗的时候要多注意一下，因为皮革的吸收能力比较强，所以在使用的时候一定要多加注意。如果皮革上沾上了污渍，可以用干净的湿海绵沾上刺激性比较小的洗涤剂来轻轻的擦拭掉。然后自然晾干，不要暴晒。</p>	
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
