	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\yundongyi1.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>1、健身后更换运动内衣要及时，并尽快清洗，以免产生异味。清洗时水温不宜过高，浸泡时间不宜过长请，5-10分钟即可。</p>
				<p>2、应单独洗，以免混洗时染色，最好用手洗手法要轻柔。若用洗衣机洗，应先装入内衣洗衣袋中。</p>
				<p>3、洗完后应用清水冲洗净。放在阴凉通风处晾干，以免太阳直接照射破坏运动内衣的弹性和褪色。刚洗过的运动内衣不宜挂在潮湿的卫生间内，以防细菌滋生。</p>
				<p>4、注意运动内衣的寿命，若感觉穿着时不如从前舒适，应及时更新。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>洁净的运动服，穿着舒适，在运动中更显青春活力。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\yundongyi2.jpg"></div>
			<div class="txt right">
				<h2></h2>
					<p>运动服很容易浸满汗渍，每次运动完之后就要立即清洗，否则汗渍会发出难闻的臭味儿，容易导致面料内资啊腐烂，再次运动时，人体毛孔张开，衣物上的污渍就会侵入人体，对人体健康造成伤害，因此一定要时常更换运动衣。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
