	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\zuoweitao1.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>1、清洗座位套，需根据它的材质，选择合适的清洗方法，以防缩水变形。</p>
				<p>2、坐或躺在沙发上，身上不能有坚硬的物件或金属制品。</p>
				<p>3、避免阳光直射最好摆放在能避开阳光照射的地方，或用半透明的薄纱遮蔽。</p>
				<p>4、如果是布艺材质最好每周吸尘一次，去除织物结构间的积尘。</p>
				<p>5、如沾有污渍可用干净抹布蘸水擦拭，为避免留下印迹，最好从污渍外围擦起。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>设备过硬：国际领先的干洗设备，国际检测认证，真正健康环保的洗涤用品。<br />
					健康洗衣：100%杀菌消毒，100%专业洗涤，100%让您满意。<br />
					超值服务：缓解您舟车劳顿之苦、49小时快速洗衣服务。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\zuoweitao2.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p> 长时间不清洗座位套，无形的细菌将威胁您的健康、有形的浮尘也会影响您的生活质量,因此座垫要时常洗涤 </p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
