	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\yaodian1.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>腰垫洗涤时可用干布(必要时可软刷),沾少许中性洗衣剂,以重点式清除汚渍,再将其晾乾即可。　　</p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>设备过硬：国际领先的干洗设备，国际检测认证，真正健康环保的洗涤用品。<br />
					健康洗衣：100%杀菌消毒，100%专业洗涤，100%让您满意。<br />
					超值服务：缓解您舟车劳顿之苦、49小时快速洗衣服务。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\yaodian2.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>涤纶化纤这种腰垫材质，材料洗涤温度不能太高，涤纶化纤的遇高温会变形的，最好用柔和的洗涤剂，避免强酸强碱即可。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
