	<div class="productDetail model1">
		<!--保养心经 start-->
		<div class="maintenance">
			<div class="pic left"><img src="~/Content/images\duanku1.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p>1、若短裤沾染了附着力很强的污渍，应尽快先去渍，再整件洗涤。不宜长时间放置，否则污渍会浸入棉纤维内部与纤维牢固结合，甚至发生化学反应，形成永久性污渍。</p>
				<p>2、短裤出现穿洞、开线现象，应立即请专业人员处理，否则破损处会变形，难以修复。 </p>
				<p>3、污渍应迅速处理，顽固的污渍可求助专业人员，不要盲目去渍，以免造成短裤的永久损伤。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--保养心经 end-->
		<!--洁净畅想 start-->
		<div class="clean">
			<div class="txt left">
				<h2></h2>
				<p>迷人的双腿，怎能少了性感俏皮的热裤呢？ 柔软、舒适、透气尽在懒到家无微不至的呵护中。</p>
				<div class="line"></div>
			</div>
			<div class="pic right"><img src="~/Content/images/gdpic01.jpg" /></div>
		</div>
		<!--洁净畅想 end-->
		<!--洗涤技巧 start-->
		<div class="wash">
			<div class="pic left"><img src="~/Content/images\duanku2.jpg"/></div>
			<div class="txt right">
				<h2></h2>
				<p> 短裤多见牛仔面料、亚麻面料、棉布。休闲裤穿一天之后容易褶皱变形，臀部容易起皱变脏，时间长不洗会发现臀部脏的发亮，严重有损个人形象。需要注意的是，休闲裤的洗涤不当会变形，褪色的。</p>
				<div class="line"></div>
			</div>
		</div>
		<!--洗涤技巧 end-->
	</div>
