html {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: 'helvetica neue', 'hiragino sans gb', 'stheiti', 'microsoft yahei', '\5FAE\8F6F\96C5\9ED1', tahoma, sans-serif;
}

.clearfix {
    *zoom: 1;
}

    .clearfix:after {
        display: table;
        content: " ";
        clear: both;
    }

hr.clearfix {
    font-size: 1px;
    line-height: 1px;
    height: 1px;
    overflow: hidden;
    clear: both;
    border: 0px;
    padding: 0px;
    margin: -1px 0px 0px 0px;
    list-style: none;
    border-style: none;
    background: none;
    visibility: hidden;
}

@-webkit-keyframes

"opacity_bug" {
    0%;

{
    opacity: 1;
}

100% {
    opacity: 0.99;
}

}

.opacity_bug {
    background-color: transparent;
    -webkit-animation-name: "opacity_bug";
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
}

.page {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 50;
    width: 100%;
    height: 100%;
    margin: 0px auto; /* overflow: auto;  */
    background-color: rgb(240, 239, 245);
    text-align: center; /* background-image: url('img/page02.jpg');  */
    background-size: 100% auto;
    background-position: 0rem -4.8rem;
    max-width: 640px;
}

    .page .overlay {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 99;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

.page01 {
    z-index: 100;
    width: 100%; /* height: 31rem;  */
    overflow: hidden; /* display: block;  */
    background-color: white;
    background-repeat: no-repeat;
    max-width: 640px;
    margin: 0 auto;
    background-color: #D5283E;
}

.popup {
    position: fixed;
    z-index: 88888;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* display: block;  */
}

.alert01 {
    display: block;
}

.alert02 {
    display: block;
}

.dialog01 {
}

.popup .dialog_alert {
    position: fixed;
    top: 12rem;
    background-color: #fff;
    width: 90%;
    left: 5%;
    border-radius: 5px;
    font-size: 1.3rem;
    line-height: 2.5rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
    color: #333;
}

.popup .dialog {
    width: 84%;
    margin: 5rem auto; /* background-color: #FFFFFF;  */
    position: relative;
    z-index: 2;
    font-size: 1rem;
}

    .popup .dialog .getprize_bg {
        width: 100%;
        border-radius: 7px;
    }

.dialog01 .dialog .getprize_link {
    position: absolute;
    bottom: 8px;
    text-decoration: none;
    z-index: 1;
    left: 0;
}

.dialog01 .dialog .getprize_btn {
    width: 100%;
}

.dialog01 .dialog {
    background-image: url();
    background-size: 100% auto;
    text-align: left;
}

.popup .dialog .close {
    background-color: #fff;
    color: #333;
    position: absolute;
    z-index: 2;
    right: -1rem;
    top: -1rem;
    border-radius: 1.2rem;
    font-family: simsun;
    width: 2rem;
    text-align: center;
    height: 2rem;
    vertical-align: middle;
    border: 1px solid #fff;
    background-image: url(img/icon_close.png);
    background-size: cover;
}

    .popup .dialog .close:hover {
        background-color: red;
    }

    .popup .dialog .close .icon {
        font-style: normal; /* position: absolute;  */ /* right: 0.3rem;  */ /* top: 0.2rem;  */
        font-size: 140%;
        margin-top: 0.2rem;
        display: inline-block;
        color: transparent;
    }

.popup .dialog .content {
}

.popup .dialog .tip {
    padding-top: 1.7rem;
    text-align: center;
    padding-bottom: 1rem;
}

.popup .dialog .sign {
    overflow: hidden;
}

.popup .dialog .login {
    float: left;
    background-color: #ff8400;
    padding: 0.3rem 1.7rem;
    color: white;
    border-radius: 0.7rem;
    margin-left: 1.8rem;
}

.popup .dialog .signup {
    float: left;
    background-color: #ff8400;
    padding: 0.3rem 1.7rem;
    color: white;
    border-radius: 0.7rem;
    margin-left: 1.5rem;
}

.page .page01 { /* opacity: 0.5;  */
}

    .page .page01 .page_head {
    }

        .page .page01 .page_head .user_new {
            background-color: #FBE76E; /* display: block;  */
        }

            .page .page01 .page_head .user_new .new_img {
                float: left;
                width: 100%;
            }

        .page .page01 .page_head .user_friend {
            display: block;
            background-color: rgb(251, 230, 110);
        }

            .page .page01 .page_head .user_friend .wechat {
                position: absolute;
                z-index: 1;
                left: 5rem;
                top: 2rem;
                right: 2rem;
                color: #333;
                font-size: 1.1rem;
            }

            .page .page01 .page_head .user_friend .friend_img {
                width: 100%;
            }

    .page .page01 .page_prize {
    }

        .page .page01 .page_prize .prize_box {
            background-image: url(img/prize_box2.png);
            background-size: 100% auto;
            height: 17rem;
        }

        .page .page01 .page_prize .box_cover {
            padding-top: 7.5rem;
            text-align: center; /* display: block;  */
        }

            .page .page01 .page_prize .box_cover .cover_img {
                width: 6rem;
            }

        .page .page01 .page_prize .box_result {
            padding-top: 7.4rem;
            display: block;
        }

        .page .page01 .page_prize .prize_box .box_nxtime {
            font-size: 1.3rem;
            padding-top: 8.8rem;
            line-height: 2rem;
            display: block;
        }

        .page .page01 .page_prize .result_title {
            font-size: 0.8rem;
            line-height: 1.2rem;
        }

        .page .page01 .page_prize .result_content {
            color: rgb(215, 41, 64);
            text-align: center;
        }

        .page .page01 .page_prize .result_num {
            font-size: 5.2rem;
            font-family: arial;
            line-height: 5.2rem;
            letter-spacing: -0.4rem;
            margin-left: -0.2rem;
            display: inline-block;
            min-width: 3.4rem;
            text-align: center;
        }

        .page .page01 .page_prize .result_per {
            font-size: 1.5rem;
            margin-left: 0.3rem;
            margin-right: -1.4rem;
        }

    .page .page01 .page_form {
        margin-bottom: 0.9rem;
    }

        .page .page01 .page_form .form_title {
            padding: 0;
            margin: 0; /* opacity: 0.5;  */
            padding-top: 0.6rem;
            padding-bottom: 0.4rem;
        }

        .page .page01 .page_form .title_img {
            width: 100%;
        }

        .page .page01 .page_form .form_content {
            padding-bottom: 0.5rem;
        }

        .page .page01 .page_form .phone_num {
            width: 83%;
            margin-bottom: 1.1rem;
            height: 2.8rem;
            line-height: 2.2rem;
            border: 1px solid rgb(184, 204, 202);
            text-align: center;
            font-size: 1.2rem;
            font-family: 'microsoft yahei';
            border-radius: 5px;
            cursor: pointer;
            box-sizing: border-box;
        }

        .page .page01 .page_form .btn_open {
            display: inline-block;
            width: 83%;
            margin-bottom: 0.5rem;
            padding: 0.5rem 0 0.6rem;
            border: 1px solid rgb(215, 218, 149);
            text-align: center;
            font-size: 1.2rem;
            font-family: 'microsoft yahei';
            border-radius: 5px;
            background-color: rgb(247, 226, 101); /* display: block;  */
            color: rgb(189, 3, 40);
            cursor: pointer;
            box-sizing: border-box;
        }

    .page .page01 .page_tip {
        text-align: left;
        padding-left: 2rem;
        padding-bottom: 1.4rem;
        font-size: 1rem;
        line-height: 1.6rem;
    }

        .page .page01 .page_tip .tip01 {
        }

        .page .page01 .page_tip .tip02 {
            margin-top: 1.5rem;
        }

        .page .page01 .page_tip .tip_title {
            padding: 0;
            margin: 0;
            font-size: 1.1rem;
            font-weight: normal;
            color: rgb(247, 255, 7);
            padding-bottom: 0.2rem;
        }

        .page .page01 .page_tip .tip_list {
            padding: 0;
            margin: 0;
            list-style: none;
            color: #fff;
            padding-right: 1.1rem;
            padding-left: 1.3rem;
        }

        .page .page01 .page_tip .tip_text {
        }

        .page .page01 .page_tip .tip_list .bullet {
            position: absolute;
            z-index: 1;
            margin-left: -1.3rem;
        }

    .page .page01 .page_form {
    }

        .page .page01 .page_form .prize_action {
            padding-top: 1.1rem;
            padding-bottom: 0.4rem;
        }

            .page .page01 .page_form .prize_action .btn_download {
                display: inline-block;
                padding: 0.6rem 0rem;
                width: 9.2rem;
                text-align: center;
                background-color: #fff;
                border-radius: 5px;
                float: left;
                margin-right: 0.5rem;
                margin-left: 2.3rem;
                color: #D5283E;
            }

            .page .page01 .page_form .prize_action .btn_share {
                display: inline-block;
                padding: 0.6rem 0rem;
                width: 9.2rem;
                text-align: center;
                background-color: #D5283E;
                border-radius: 5px;
                float: left;
                color: #fff;
                border: 1px solid #fff;
            }

            .page .page01 .page_form .prize_action .btn_prizelist {
                display: inline-block;
                padding: 0.6rem 0rem;
                width: 9rem;
                text-align: center;
                background-color: #fff;
                border-radius: 5px;
                float: left;
                margin-right: 0.5rem;
                margin-left: 2.3rem;
                color: #D5283E;
            }

            .page .page01 .page_form .prize_action .btn_openprize {
            }

        .page .page01 .page_form .prize_listlink {
            padding-top: 0rem;
            padding-bottom: 0.5rem;
        }

            .page .page01 .page_form .prize_listlink a {
                color: #F7FF07;
            }

        .page .page01 .page_form .prize_account {
            padding-top: 0.8rem;
            padding-bottom: 0.5rem;
            color: #fff;
        }

            .page .page01 .page_form .prize_account a {
                color: #fff;
            }

        .page .page01 .page_form .prize_comment {
            font-size: 0.9rem;
            color: #fff;
            line-height: 1.5rem;
            padding-top: 0.5rem;
            padding-bottom: 1rem;
        }

        .page .page01 .page_form .left_num {
        }

        .page .page01 .page_form .form01 { /* display: block;  */
        }

        .page .page01 .page_form .form02 {
            display: block;
        }

        .page .page01 .page_form .form03 {
            display: block;
        }

        .page .page01 .page_form .form04 {
            display: block;
            min-height: 12rem;
        }

.page .prize_list {
    /* opacity: 0.5; */
    padding-top: 1.7rem;
    width: 92%;
    margin: 0 auto;
    background-color: #F0EFF5;
    padding-bottom: 2rem;
}

    .page .prize_list .tkt_item {
        background-image: url(img/tkt_available.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
        height: 8.6rem;
        margin: 0 auto;
        padding-left: 7.8rem;
        text-align: left;
        margin-bottom: 0.8rem;
    }

        .page .prize_list .tkt_item .tkt_num {
            padding-top: 0.9rem;
            color: #FEF401;
            /* margin-bottom: -0.2rem; */
            padding-left: 0.4rem;
        }

    .page .prize_list .tkt_expired .tkt_num {
        color: #fff;
    }

    .page .prize_list .tkt_item .tkt_num .per {
        font-size: 1.9rem;
        margin-right: 0.1rem;
    }

    .page .prize_list .tkt_item .tkt_num .num {
        font-size: 3.2rem;
    }

    .page .prize_list .tkt_item .tkt_name {
        font-size: 0.9rem;
        color: #fff;
        line-height: 1.4rem;
    }

    .page .prize_list .tkt_item .tkt_expire {
        font-size: 0.9rem;
        color: #fff;
        line-height: 1.4rem;
    }

        .page .prize_list .tkt_item .tkt_expire .tkt_span {
            float: left;
        }

        .page .prize_list .tkt_item .tkt_expire .tkt_title {
            float: left;
            margin-right: 0.3rem;
        }

        .page .prize_list .tkt_item .tkt_expire .tkt_span .start {
        }

        .page .prize_list .tkt_item .tkt_expire .tkt_span .end {
        }

    .page .prize_list .tkt_available {
    }

    .page .prize_list .tkt_expired {
        background-image: url(img/tkt_expired.png);
    }

    .page .prize_list .tkt_used {
        background-image: url(img/tkt_used.png);
    }

    .page .prize_list .tkt_yyxavailable {
        background-image: url(img/tkt_available_yyx.png);
    }

    .page .prize_list .tkt_yyxused {
        background-image: url(img/tkt_used_yyx.png);
    }

        .page .prize_list .tkt_yyxexpired {
        background-image: url(img/tkt_expired_yyx.png);
    }
