
<li class="active"><a href="#">上装 ></a></li>
<li><a href="#">下装 ></a></li>
<li><a href="#">配饰 ></a></li>
<li><a href="#">套装 ></a></li>
<li><a href="#">箱包 ></a></li>
<li><a href="#">家纺 ></a></li>
<li><a href="#">卫浴 ></a></li>
<li><a href="#">套餐 ></a></li>