
@{
    //ViewBag.Title = "核心优势";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--导航-->
@{Html.RenderAction("Nav", "Home");}

<!--内容-->
<!--活动主体内容 start-->
<div id="activity-main">
    <div class="advantage-banner"></div>
    <!--核心优势 1 start-->
    <div class="advantage-lev1">
        <div class="txt">
            <p>您可通过懒到家官网、微信公众平台一键下单，方便快捷。为了保证服务质量，我们与顺丰速运强强联合，在您下单1小时内上门收货。突破传统干洗店时间和空间的限制，您可以随时随地下单。让您在家动动手指就可以享受洁净健康的品质生活，坐享懒人之福。</p>
        </div>
        <img src="~/Content/images/advantage-pic1.jpg" />
    </div>
    <!--核心优势1 end-->
    <!--核心优势2 start-->
    <div class="advantage-lev2" style="margin:10px auto 0 auto;padding-bottom:20px">
        <img src="~/Content/images/advantage-pic2.jpg" />
        <div class="txt">
            <p>懒到家，拥有最早实施自动化、电脑化、专业化及系统化的洗衣中央工厂。中央工厂采用世界领先的水洗机和干洗机，我们针对不同材质、不同颜色的衣物分类使用不同设备进行专业化、标准化地清洗。洗涤全程采用绿色洗涤剂，大型现代隧道消毒设备，保障了您衣物的健康。</p>
        </div>
    </div>
    <!--核心优势2 end-->
    <!--核心优势3 start-->
    <div class="advantage-lev1" style="margin-top:10px">
        <div class="txt" style="margin-top:15px">
            <p>中央工厂的视频建工管理系统，从衣物入工厂开始就进入监控。每件衣物经过每一个工艺流程都会被视频详实地记录，工厂运作过程中，将视频数据实时传输给数据库，使一件衣物从工厂的洗涤运作过程，到物流的运送，客户都可以通过懒到家管理后台实时观察到衣物的状态。</p>
        </div>
        <img src="~/Content/images/advantage-pic3.jpg" />
    </div>
    <!--核心优势3 end-->
    <!--核心优势4 start-->
    <div class="advantage-lev2" style="margin-top:5px">
        <img src="~/Content/images/advantage-pic4.jpg" />
        <div class="txt">
            <p>与顺丰速运的合作，我们承诺在客户下单1小时内上门收货（客户要求其他时间上门除外）。同时，在顺丰收货48小时内洗好送达，快速高效。</p>
        </div>
    </div>
    <!--核心优势4 end-->
</div>
<!--活动主体内容 end-->
