<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <!--错误日志路径配置-->
    <add key="WrongLogPath" value="/WrongLog"/>

    <!--发货配置信息-->
    <add key="Company" value="懒到家"/>
    <add key="Contact" value="联系人"/>
    <add key="Tel" value="4008-762-799"/>
    <add key="Phone" value="13012345678"/>
    <add key="Address" value="上海市宝山区泰和路2038号D楼203室"/>
    <add key="City" value="上海市"/>
    <add key="Province" value="上海"/>
    <add key="ZipCode" value="201901"/>

    <!--打印机名配置-->
    <add key="QFPrintName" value="HP LaserJet M1530 MFP Series PCL 6"/>
    <add key="SFPrintName" value="ZDesigner GK888t"/>
    <add key="ClothesCodeBarPrintName" value="Argox OS-214 plus series PPLA"/>
    <add key="PrintName" value="HP LaserJet M1530 MFP Series PCL 6 (副本 1)"/>

    <!--洗涤条码渠道 1：自己打条码  2：扫描洗涤条码-->
    <add key="CodeBarChannel" value="2"/>
    
    <!--摄像头配置-->
    <add key="Camera_Device" value="Integrated Camera"/>
    <add key="Camera_Resolution" value="1280x720"/>
  </appSettings>
  
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NewBehavior">
          <dataContractSerializer maxItemsInObjectGraph="99000000" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IPR">
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IWashOrder">
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_ISFExpress">
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IWashProduct" maxReceivedMessageSize="13107200">
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IQFExpress">
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IInternalExpress">
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>

    <!--<client>
      <endpoint address="http://192.168.1.201:8100/LazyAtHome/WashOrderService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWashOrder"
        contract="WashOrderService.IWashOrder" name="WSHttpBinding_IWashOrder" />
      <endpoint address="http://192.168.1.201:8100/LazyAtHome/PRService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPR"
        contract="PRService.IPR" name="WSHttpBinding_IPR" />
      <endpoint address="http://192.168.1.201:8100/LazyAtHome/SFExpressService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISFExpress"
        contract="SFExpressService.ISFExpress" name="WSHttpBinding_ISFExpress" />
      <endpoint address="http://192.168.1.201:8100/LazyAtHome/WashProductService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWashProduct"
        contract="WashProductService.IWashProduct" name="WSHttpBinding_IWashProduct" />
      <endpoint address="http://192.168.1.201:8100/LazyAtHome/QFExpressService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IQFExpress"
        contract="QFExpressService.IQFExpress" name="WSHttpBinding_IQFExpress" />
      <endpoint address="http://192.168.1.201:8100/LazyAtHome/InternalExpressService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IInternalExpress"
        contract="InternalExpressService.IInternalExpress" name="WSHttpBinding_IInternalExpress" />
    </client>-->
    <client>
      <endpoint address="http://115.29.232.208:8100/LazyAtHome/WashOrderService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWashOrder"
        contract="WashOrderService.IWashOrder" name="WSHttpBinding_IWashOrder" />
      <endpoint address="http://115.29.232.208:8100/LazyAtHome/PRService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPR"
        contract="PRService.IPR" name="WSHttpBinding_IPR" />
      <endpoint address="http://115.29.232.208:8100/LazyAtHome/SFExpressService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISFExpress"
        contract="SFExpressService.ISFExpress" name="WSHttpBinding_ISFExpress" />
      <endpoint address="http://115.29.232.208:8100/LazyAtHome/WashProductService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWashProduct"
        contract="WashProductService.IWashProduct" name="WSHttpBinding_IWashProduct" />
      <endpoint address="http://115.29.232.208:8100/LazyAtHome/QFExpressService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IQFExpress"
        contract="QFExpressService.IQFExpress" name="WSHttpBinding_IQFExpress" />
      <endpoint address="http://115.29.232.208:8100/LazyAtHome/InternalExpressService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IInternalExpress"
        contract="InternalExpressService.IInternalExpress" name="WSHttpBinding_IInternalExpress" />
    </client>
  </system.serviceModel>
  
</configuration>