
@{
    ViewBag.Title = "Detail";
}

<div class="page-content inset service-fee">
    <div class="row" style="padding-top:40px">
        <div class="col-md-7 col-md-offset-1">
            <div class="kajishao">
                <a class="pull-right btn btn-sm btn-danger" href="缤纷活动.html" style="margin-bottom:20px;">返回</a>
                <img src="/img/bg-large.jpg" style="width:100%;height:auto;margin-bottom:30px">
                <p>懒人卡是由懒到佳信息技术有限公司发行的可在懒到家官网直接消费的储值卡。消费者可凭此卡所拥有的余额在懒到家官网进行消费支付。为懒人们在消费的时候提供更加便捷的支付方式。同时，此卡还具有以下优势：</p>
                <p>
                    1、懒人卡绑定懒到家账户，消费更加的安全。<br>
                    懒人卡只要一旦跟懒到家账号绑定，就无需再担忧丢失亦或是损失，更加的安全。
                </p>
                <p>
                    2、商务馈赠、节日送礼、企业福利的最佳选择<br>
                    在与人交际上送什么？一直是诸多社会人士的苦恼，送礼品不仅麻烦有时候还非常的不方便，亦或是收礼则不喜欢等等，让人着实烦恼，而送懒人卡则化解了不少的尴尬，同时大众的需求也非常高，所以不管是馈赠亲朋好友还是节日送礼亦或是企业福利都不失为一个不错的礼品选择。
                </p>
                <p>
                    3、懒人卡彰显时尚身份。<br>
                    跟一般的洗衣消费有所不同，懒到家独特的运营模式更加个性、时尚化，拥有懒人卡无疑彰显独特时尚的品味，是时尚高贵的象征。
                </p>
            </div>
        </div>
    </div>

</div>
