<div class="navIconGroup" ontouchend="hidePopdiv(event);">
    <div class="iconGroup1">
        <span class="xdfwIcon" ontouchend="switchPage(event, '/Wash')"><img src="/img/xdfw-icn.png"></span>
        <span class="yjxdIcon" ontouchend="switchPage(event, '/Cart/OneKey')"><img src="/img/yjxd-icn.png"></span>
        <span class="addressIcon" ontouchend="switchPage(event, '/Member/AddressManage')"><img src="/img/address-icn.png"></span>
        <span class="couponIcon" ontouchend="switchPage(event,'/Member/MyCoupons')"><img src="/img/coupon-icn.png"></span>
        <span class="myOrderIcon" ontouchend="switchPage(event, '/Member/MyOrders')"><img src="/img/myorder-icn.png"></span>
        <span class="yhzxIcon" ontouchend="switchPage(event, '/Member')"><img src="/img/yhzx-icn.png"></span>
        @*<span class="moreIcon" ontouchend="switchIconGroup(1,event);"><img src="/img/more-icn.png"></span>*@
    </div>
    <div class="iconGroup2">
        <span class="yhzxIcon" ontouchend="switchPage(event, '/Member')"><img src="/img/yhzx-icn.png"></span>
        @*<span class="bfhdIcon" onclick="window.location.href='缤纷活动.html'"><img src="/img/bfhd-icn.png"></span>*@
        <span class="gobackIcon" ontouchend="switchIconGroup(2,event);"><img src="/img/goback-icn.png"></span>
    </div>
</div>
