@{
    //ViewBag.Title = "生活小常识";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--导航-->
@{Html.RenderAction("Nav", "Home");}

<!--内容-->
<div id="content">
    <div class="newsTitle">洗衣小常识</div>
    <div class="newsBox">
        <div class="newsPic left">
            <div class="newsPicJt"><img src="~/Content/images/jiantou_01.jpg" class="newsPicTop" /></div>
            <div class="newsPicBox">
                <ul>
                    <li><a href="#"><img src="~/Content/images/laundrytips-pic1.jpg" width="244" height="162" /></a></li>
                    <li><a href="#"><img src="~/Content/images/laundrytips-pic2.jpg" width="244" height="162" /></a></li>
                    <li><a href="#"><img src="~/Content/images/laundrytips-pic3.jpg" width="244" height="162" /></a></li>
                    <li><a href="#"><img src="~/Content/images/laundrytips-pic4.jpg" width="244" height="162" /></a></li>
                </ul>
            </div>
            <div class="newsPicJt"><img src="~/Content/images/jiantou_02.jpg" class="newsPicBottom" /></div>
        </div>
        <div class="newsList right">
            <ul>
                <li>
                    <h2><a href="~/Home/TipsShow/01" target="_blank">白色衣物染色怎么办？</a></h2>
                    <div class="newsListFont">用含阴离子表面活性剂多的洗衣粉和洗洁精1：1加入温水中，浸泡半小时用水进行搓洗，如不整洁，可在放入50度以上水中，加入少量洗衣粉搓洗。…</div>
                    <span class="time">2014-05-04</span>
                    <span class="a"><a href="~/Home/TipsShow/01" target="_blank">详细内容</a></span>
                </li>
                <li>
                    <h2><a href="~/Home/TipsShow/02" target="_blank">夏季来临，怎样高效收纳厚重衣物？</a></h2>
                    <div class="newsListFont">检查每件衣物是否洁净，确保衣物不残留汗水和污渍，以免引起衣物发黄。皮衣、西装、呢子大衣等不可折叠衣物，应进行垂挂式状态，并用成品防尘套罩好，避免灰尘进入…</div>
                    <span class="time">2014-05-04</span>
                    <span class="a"><a href="~/Home/TipsShow/02" target="_blank">详细内容</a></span>
                </li>
                <li>
                    <h2><a href="~/Home/TipsShow/03" target="_blank">毛衣缩水怎么办？</a></h2>
                    <div class="newsListFont">手洗：如手洗缩水，可在脸盆中注入温水，滴入少量家庭装的阿摩尼亚水，然后将毛衣浸入，留在毛线上的皂成份就会溶化，然后用两手同时轻轻拉长缩小的部分，最后冲水晾干即可…</div>
                    <span class="time">2014-05-04</span>
                    <span class="a"><a href="~/Home/TipsShow/03" target="_blank">详细内容</a></span>
                </li>
                <li>
                    <h2><a href="~/Home/TipsShow/04" target="_blank">怎样决定洗衣粉用量？</a></h2>
                    <div class="newsListFont">因为洗衣粉是合成洗涤剂，所以在洗涤用量上，一定要严格拿捏，通常在2千克水中加入洗衣粉6克，即在大半盆水中加入…</div>
                    <span class="time">2014-05-04</span>
                    <span class="a"><a href="~/Home/TipsShow/04" target="_blank">详细内容</a></span>
                </li>
                <li>
                    <h2><a href="~/Home/TipsShow/05" target="_blank">皮包应该如何保养与护理？</a></h2>
                    <div class="newsListFont">在使用新皮包时不妨先打一层蜡有助于防尘，所以涂上一些无色的指甲油都可以防止皮包的擦伤和变形。为了不让皮包过度受损，最好不要每天使用同一个包，时常进行更换…</div>
                    <span class="time">2014-05-04</span>
                    <span class="a"><a href="~/Home/TipsShow/05" target="_blank">详细内容</a></span>
                </li>
                <li>
                    <h2><a href="~/Home/TipsShow/06" target="_blank">羽绒服正确洗涤方法？</a></h2>
                    <div class="newsListFont">手洗：羽绒服一定要手洗切忌干洗，因为干洗使用的药水会影响衣物的保暖性，也会影响布料的老化，再加上甩干步骤也会影响到羽绒服的美观，使衣物变形，因此一定要手洗…</div>
                    <span class="time">2014-05-04</span>
                    <span class="a"><a href="~/Home/TipsShow/06" target="_blank">详细内容</a></span>
                </li>
                <li>
                    <h2><a href="~/Home/TipsShow/07" target="_blank">各类被子的洗涤保养以及储藏方法？</a></h2>
                    <div class="newsListFont">洗涤保养方法：羊毛被不可水洗、不可氯漂、不可熨烫，如需洗涤，可到专业干洗店干洗，但务必充分悬挂晾干…</div>
                    <span class="time">2014-05-04</span>
                    <span class="a"><a href="~/Home/TipsShow/07" target="_blank">详细内容</a></span>
                </li>
                <li>
                    <h2><a href="~/Home/TipsShow/08" target="_blank">呢绒大衣的熨烫技巧</a></h2>
                    <div class="newsListFont">熨烫前先进行简单的除尘法，先将呢绒大衣平铺在桌上，把厚毛巾放至40℃的温水中浸透拧干，放在呢绒大衣上…</div>
                    <span class="time">2014-05-04</span>
                    <span class="a"><a href="~/Home/TipsShow/08" target="_blank">详细内容</a></span>
                </li>
                <li>
                    <h2><a href="~/Home/TipsShow/09" target="_blank">丝绸衣物的洗涤方法？</a></h2>
                    <div class="newsListFont">丝绸衣物洗涤最好采用软水，温度控制在35~45摄氏度最为适宜，最好选用专业的洗涤剂进行洗涤，中性洗涤剂对丝绸衣物有很好的养护作用…</div>
                    <span class="time">2014-05-04</span>
                    <span class="a"><a href="~/Home/TipsShow/09" target="_blank">详细内容</a></span>
                </li>
                <li>
                    <h2><a href="~/Home/TipsShow/10" target="_blank">皮衣破损的处理方法？</a></h2>
                    <div class="newsListFont">皮衣擦伤表面：皮衣表面涂层被磨伤，但是皮革未破损，因此在处理上只需将破处擦干净，然后直接用皮革涂饰浆楷涂，使破损处达到原来的颜色和外表即可…</div>
                    <span class="time">2014-05-04</span>
                    <span class="a"><a href="~/Home/TipsShow/10" target="_blank">详细内容</a></span>
                </li>
                <li>
                    <h2><a href="~/Home/TipsShow/11" target="_blank">怎样清洗衣物上的果汁？</a></h2>
                    <div class="newsListFont">如果衣物不慎沾上果汁，那么先用食盐涂抹于污渍处，然后再用水把它浸湿，用肥皂水轻轻的搓揉，最后漂洗干净即可…</div>
                    <span class="time">2014-05-04</span>
                    <span class="a"><a href="~/Home/TipsShow/11" target="_blank">详细内容</a></span>
                </li>
            </ul>
        </div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/Scripts/gundongTop.js")
    <script language="javascript" type="text/javascript">
        $(function () {
            var BOX = $('.newsPicBox ul');
            var HHUM = $('.newsPicBox li');
            var LEFT = $(".newsPicTop");
            var RIGHT = $(".newsPicBottom");
            var WIDTH = 170;//单个宽度
            var PLAY = 5000;//自动播放的时间
            var SPEED = 500;//切换速度
            var AOUT = true;//是否自动播放
            IMG(BOX, LEFT, RIGHT, WIDTH, HHUM, PLAY, SPEED, AOUT);
        })
    </script>
}
