<!--内容-->
<div id="content">
     <div class="mediaShowTitle"><p><a href="/Home/LaundryTips">小常识列表</a><span>&gt;</span>洗衣小常识</p></div>
     <div class="mediaShow">
     	  <div class="mediaShowBt">
          	   <h2>皮包应该如何保养与护理？</h2>
               <p><b>2014.05.12</b>浏览次数：<span>90</span></p>
               <dl>
                  <dt>分享到：</dt>
                  <dd><a href="#"><img src="~/Content/images/fenxiang_01.gif" /></a></dd>
                  <dd><a href="#"><img src="~/Content/images/fenxiang_02.gif" /></a></dd>
                  <dd><a href="#"><img src="~/Content/images/fenxiang_03.gif" /></a></dd>
               </dl>
          </div>
          <div class="mediaShowContent laundrytips">
          	   <p>1、在使用新皮包时不妨先打一层蜡有助于防尘，所以涂上一些无色的指甲油都可以防止皮包的擦伤和变形。</p>
			   <img src="~/Content/images/tips5-pic1.jpg" align="center"/>
			   <p></p>
			   <p>2、为了不让皮包过度受损，最好不要每天使用同一个包，时常进行更换，此外更换的同时，不用的包包最好也塞上一些纸防止皮包变形。</p>
			   <p></p>
			   <p>3、皮包接触汗水或受强烈阳光照射时，容易玷污或变色，因此要经常拍打，时常进行擦油打蜡，保持包包的光泽度，此外也要避免粘水和湿气，出现污渍要及时的擦拭。</p>
			   <img src="~/Content/images/tips5-pic2.jpg" align="center"/>
          </div>
         <!-- <div class="pages"><a href="#">上一篇</a><a href="#">下一篇</a></div>-->
     </div>
</div>