<!--内容-->
<div id="content">
     <div class="mediaShowTitle"><p><a href="/Home/LaundryTips">小常识列表</a><span>&gt;</span>洗衣小常识</p></div>
     <div class="mediaShow">
     	  <div class="mediaShowBt">
          	   <h2>羽绒服正确洗涤方法？</h2>
               <p><b>2014.05.12</b>浏览次数：<span>90</span></p>
               <dl>
                  <dt>分享到：</dt>
                  <dd><a href="#"><img src="~/Content/images/fenxiang_01.gif" /></a></dd>
                  <dd><a href="#"><img src="~/Content/images/fenxiang_02.gif" /></a></dd>
                  <dd><a href="#"><img src="~/Content/images/fenxiang_03.gif" /></a></dd>
               </dl>
          </div>
          <div class="mediaShowContent laundrytips">
          	   <p>1、手洗：羽绒服一定要手洗切忌干洗，因为干洗使用的药水会影响衣物的保暖性，也会影响布料的老化，再加上甩干步骤也会影响到羽绒服的美观，使衣物变形，因此一定要手洗。</p>
			   <img src="~/Content/images/tips6-pic1.jpg" align="center"/>
			   <p></p>
			   <p>2、30度水温洗涤：将羽绒服放入冷水中浸泡20分钟，羽绒服内外湿润后将洗涤剂溶入30度的温水中，再将羽绒服放入其中浸泡一刻钟，然后用软毛刷轻轻刷洗，为了使羽绒服清洗的更加整洁，在漂洗时也因用温水。</p>
			   <p></p>
			   <p>3、使用中性洗涤剂：羽绒服洗涤最好选用羽绒服专用的洗涤剂，因为这类洗涤剂通常是中性洗涤剂，可减少对蛋白质纤维的破坏作用，且具有优良的洗涤力和保护调理作用，洗后能保持羽绒服面料的光泽与内部的蓬松。</p>
			   <img src="~/Content/images/tips6-pic2.jpg" align="center"/>
			   <p></p>
			   <p>4、不能拧干：羽绒服洗后，在晾晒上要选择自然风干，不能用力拧干，也禁止暴晒，最好采用平铺的方式，以免变形。</p>
          </div>
         <!-- <div class="pages"><a href="#">上一篇</a><a href="#">下一篇</a></div>-->
     </div>
</div>
