<!--内容-->
<div id="content">
     <div class="mediaShowTitle"><p><a href="/Home/LaundryTips">小常识列表</a><span>&gt;</span>洗衣小常识</p></div>
     <div class="mediaShow">
     	  <div class="mediaShowBt">
          	   <h2>怎样决定洗衣粉用量？</h2>
               <p><b>2014.05.12</b>浏览次数：<span>90</span></p>
               <dl>
                  <dt>分享到：</dt>
                  <dd><a href="#"><img src="~/Content/images/fenxiang_01.gif" /></a></dd>
                  <dd><a href="#"><img src="~/Content/images/fenxiang_02.gif" /></a></dd>
                  <dd><a href="#"><img src="~/Content/images/fenxiang_03.gif" /></a></dd>
               </dl>
          </div>
          <div class="mediaShowContent laundrytips">
          	   <p>因为洗衣粉是合成洗涤剂，所以在洗涤用量上，一定要严格拿捏，通常在2千克水中加入洗衣粉6克，即在大半盆水中加入1汤匙洗衣粉是最为恰当的，这时浓度在0.3％～0.5％之间，表面活性最强，去污效果最好，如果衣物并不太脏，应适当的减少洗衣粉的用量，此外还因权衡洗衣粉上的用量说明，更好的为自己的衣物决定合适的用量。</p>
			   <p></p>
			   <img src="~/Content/images/tips4-pic1.jpg" align="center"/>
          </div>
         <!-- <div class="pages"><a href="#">上一篇</a><a href="#">下一篇</a></div>-->
     </div>
</div>