
<!--内容-->
<div id="content">
     <div class="mediaShowTitle"><p><a href="/Home/LaundryTips">小常识列表</a><span>&gt;</span>洗衣小常识</p></div>
     <div class="mediaShow">
     	  <div class="mediaShowBt">
          	   <h2>夏季来临，怎样高效收纳厚重衣物？</h2>
               <p><b>2014.05.12</b>浏览次数：<span>90</span></p>
               <dl>
                  <dt>分享到：</dt>
                  <dd><a href="#"><img src="~/Content/images/fenxiang_01.gif" /></a></dd>
                  <dd><a href="#"><img src="~/Content/images/fenxiang_02.gif" /></a></dd>
                  <dd><a href="#"><img src="~/Content/images/fenxiang_03.gif" /></a></dd>
               </dl>
          </div>
          <div class="mediaShowContent laundrytips">
          	   <p>1、检查每件衣物是否洁净，确保衣物不残留汗水和污渍，以免引起衣物发黄。</p>
			   <p></p>
          	   <p>2、皮衣、西装、呢子大衣等不可折叠衣物，应进行垂挂式状态，并用成品防尘套罩好，避免灰尘进入。</p>
			   <img src="~/Content/images/tips2-pic1.jpg" align="center"/>
			   <p></p>
			   <p>3、针织衫、棉衣、羊毛外套可折叠衣物，可进行折叠、叠放，叠放过程中可将合成纤维放入最低层，将棉麻毛质地衣物放入中间，最需要细心呵护的真丝面料衣物就放在最上层即可。</p> 
			   <p></p>
			   <p>4、毛衫、厚袜可卷成一团，放置格子状的收纳盒中，不仅拿取方便，同时也可节省空间。</p> 
          </div>
         <!-- <div class="pages"><a href="#">上一篇</a><a href="#">下一篇</a></div>-->
     </div>
</div>