@{
    ViewBag.Title = "缤纷活动";
}

<section>

    <div class="activityBox">
        <img src="/img/activity_banner.jpg" class="activityBanner" onclick="window.location.href = '/Home/Activites1'">
        <img src="/img/activities2.png" class="activityBanner" onclick="window.location.href = '/Home/Activites2'">
        <p><img src="/img/activity_qrcode.jpg"></p>
        <div class="btnGroup">
            <button onclick="window.location.href='/Cart/OneKey'">一键下单</button>
        </div>
    </div>
</section>
