<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CacheName" value="LazyMainCache"/>
    <add key="Category_Picture" value="http://192.168.1.201/img/Category/"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CommonServiceServiceSoapBinding" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="customBinding" transactionFlow="true" listenBacklog="1000" maxReceivedMessageSize="13107200"
                 maxBufferSize="13107200">
          <readerQuotas maxDepth="32"
            maxStringContentLength="13107200"
            maxArrayLength="13107200"
            maxBytesPerRead="4096"
            maxNameTableCharCount="16384"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="LazyAtHome.WCF.OrderSystem.Business.Portal.OrderPortal">
        <endpoint address="net.tcp://localhost:8002/LazyAtHome/OrderPortal" binding="netTcpBinding" bindingConfiguration="customBinding" contract="LazyAtHome.WCF.OrderSystem.Contract.InterfaceContract.IOrder"/>
      </service>
    </services>
    <client>
      <endpoint address="net.tcp://localhost:8002/LazyAtHome/OrderPortal" binding="netTcpBinding" bindingConfiguration="customBinding" contract="LazyAtHome.WCF.OrderSystem.Contract.InterfaceContract.IOrder"/>
    </client>
  </system.serviceModel>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>