@{
    ViewBag.Title = "服务面面观";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--图片banner start-->
<div class="hd-banner"><a href="#"><img src="~/images/hd3-banner.jpg" /></a></div>
<!--图片banner end-->
<!--活动文字 start-->
<div class="hd-introduce">
    <h2>一键下单，顺丰取送</h2>
    <p>
        您可通过懒到家官网、微信公众平台一键下单，方便快捷。为了保证服务质量，我们与顺丰速运强强联合，在您下单1小时内上门收货。突破传统干洗店时间和空间的限制，您可以随时随地下单。让您在家动动手指就可以享受洁净健康的品质生活，坐享懒人之福。
    </p>
    <h2>标准化洗涤，严格质控</h2>
    <p>
        懒到家，拥有最早实施自动化、电脑化、专业化及系统化的洗衣中央工厂。中央工厂采用世界领先的水洗机和干洗机，我们针对不同材质、不同颜色的衣物分类使用不同设备进行专业化、标准化地清洗。洗涤全程采用绿色洗涤剂，大型现代隧道消毒设备，保障了您衣物的健康。<br />
        熨烫方面有世界领先的衬衫机、人像机和裤子压机，熨烫标准统一具有立体感，不仅保持了衣物线条的美观，还能确保不会有收工熨烫痕迹。最后，严格的质控程序，保证衣物的洗涤质量，真正做到让您省心、放心。
    </p>
    <div class="hd3-pic"><img src="~/images/hd3pic.jpg" /></div>
    <h2>全程监控，安全有保障。</h2>
    <p>中央工厂的视频建工管理系统，从衣物入工厂开始就进入监控。每件衣物经过每一个工艺流程都会被视频详实地记录，工厂运作过程中，将视频数据实时传输给数据库，使一件衣物从工厂的洗涤运作过程，到物流的运送，客户都可以通过懒到家管理后台实时观察到衣物的状态。（配上视频监系统的图片。）</p>
    <h2>48小时内送达，快速高效！</h2>
    <p>与顺丰速运的合作，我们承诺在客户下单1小时内上门收货（客户要求其他时间上门除外）。同时，在顺丰收货48小时内洗好送达，快速高效。（设计：配上顺丰快递的标识性物流车或者飞机，加上1小时内上门收货，48小时内送达！）</p>
</div>
<!--活动文字 end-->
<!--尾部 start-->
<div class="footer foot"><img src="~/images/lan8.jpg" /></div>
<!--尾部 end-->
@section scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/iscroll.js")
    <script type="text/javascript">
        var t = null;
        $(function () {
            var now = 0;
            var clientw = $(window).width();
            var clienth = $(window).height();
            var len = $("#thelist li").size();
            setBanner(clientw, len);

        });
        function move(now, len, clientw) {
            if (now == len) { now = 0 }
            $("#scroller ul").animate({
                'marginLeft': -clientw * now + 'px'
            }, 500);
            $("#indicator li").removeClass("active");
            $("#indicator li").eq(now).addClass("active");
        }
        function setBanner(clientw, len) {
            $("#wrapper").css("width", clientw);
            $("#scroller").css("width", clientw * len);
            $("#scroller ul li").css("width", clientw);
        }
        var myScroll;
        function loaded() {
            myScroll = new iScroll('wrapper', {
                snap: true,
                momentum: false,
                hScrollbar: false,
                onScrollEnd: function () {
                    document.querySelector('#indicator > li.active').className = '';
                    document.querySelector('#indicator > li:nth-child(' + (this.currPageX + 1) + ')').className = 'active';
                }
            });
        }
        document.addEventListener('DOMContentLoaded', loaded, false);
    </script>
}