@{
    ViewBag.Title = "支付方式";
}

<div class="page-content inset order-confirm">
    <div class="row" style="padding-top:40px">
        <div class="col-md-7 col-md-offset-1">
            <form id="payform" action="/Cart/OrderPayment" method="post">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background:#ececec">请选择支付方式</div>
                    <div class="panel-body payfs">
                        <div class="row">
                            <div class="container-fluid banklist">
                                <div class="col-md-4 col-xs-12">
                                    <input type="radio" name="payType" id="payType" value="1" checked="checked">
                                    <img src="/img/zfb_pic.jpg">
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                            <div class="container-fluid banklist">
                                <div class="col-md-4 col-xs-12">
                                    <input type="radio" name="payType" id="payType" value="2">
                                    微信支付
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-success btn-lg pull-right" style="margin-bottom:40px" onclick="formSubmit();">提交</button>
                        <button type="button" class="btn btn-success btn-lg pull-right" style="margin-bottom:40px;margin-right:15px; background:#4bc7c7" onclick="window.location.href='/Member/MyOrders'">暂不付款</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        var pType = 2;
        function formSubmit() {
            var orderNum = "@ViewBag.OrderNum";
            var postData = { OrderNum: orderNum };
            pType = $("input:radio[name='payType']:checked").val();
            var actionUrl = "/Cart/jsWXPayment";
            if (pType == 1)
                actionUrl = "/Cart/jsAlipay";

            $.ajax({
                type: "post",
                url: actionUrl,
                data: postData,
                dataType: "json",
                success: ProcessPay,
                error: function (msg) {
                    showPopDiv(msg.toString(), false);
                }
            });
        }

        function ProcessPay(resultJson) {
            if (resultJson != null) {
                if (pType == 1)
                    aliPayProcess(resultJson);
                else if (pType == 2)
                    wxPayProcess(resultJson);
            }
        }

        function aliPayProcess(resultJson) {
            window.location.href = resultJson.Msg;
        }

        function wxPayProcess(resultJson) {
            if (resultJson.Code == 1) {
                WeixinJSBridge.invoke('getBrandWCPayRequest', {
                    "appId": resultJson.appid, //公众号名称，由商户传入
                    "timeStamp": resultJson.timeStamp, //时间戳
                    "nonceStr": resultJson.nonceStr, //随机串
                    "package": resultJson.packageValue,//扩展包
                    "signType": "SHA1", //微信签名方式:1.sha1
                    "paySign": resultJson.paySign //微信签名
                }, function (res) {

                    alert(res.err_msg);
                    if (res.err_msg == "get_brand_wcpay_request:ok") {
                    }
                    // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。
                    //因此微信团队建议，当收到ok返回时，向商户后台询问是否收到交易成功的通知，若收到通知，前端展示交易成功的界面；若此时未收到通知，商户后台主动调用查询订单接口，查询订单的当前状态，并反馈给前端展示相应的界面。
                });
            }
            else
                window.location.href = resultJson.Msg;
        }
    </script>
}