@{
    //ViewBag.Title = "找回密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--内容-->
<div id="password">
    <div class="password">
        <div class="passwordTitle">找回密码</div>
        <div class="passwordBox">
            <div class="password_01">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="right" width="15%">手机号：</td>
                        <td colspan="3" width="85%">
                            <input id="MPNo" name="MPNo" type="text" class="srk" value="请输入您的手机号" maxlength="11" style="float:left" />
                            <span style="padding-left:5px"><input name="btnSmsCode" id="btnSmsCode" type="button" value="获取验证码" style="width: 110px; background: #71b582; color: white; height: 30px;" onclick="VerifyMobile()" /></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" height="18">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="right">短信验证码：</td>
                        <td>
                            <input id="vCode" name="vCode" type="text" class="srk" maxlength="6" style="width:60px;float:left;" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" height="18">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="right">请输入新密码：</td>
                        <td colspan="3"><input name="pass" type="password" class="srk" id="pass" style="width:224px;height:28px;padding:0px 5px" /></td>
                    </tr>
                    <tr>
                        <td colspan="4" height="18">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="right">再次确认密码：</td>
                        <td colspan="3"><input name="passConfirm" type="password" class="srk" id="passConfirm" /></td>
                    </tr>

                    <tr>
                        <td align="right" height="35"></td>
                        <td id="msg" colspan="3" style="color:red"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="3" style="padding-top:10px"><input name="" type="button" value="完成" class="anniu" onclick="formSubmit()"></td>
                    </tr>
                </table>
            </div>
            <p class="findCode-success"><img src="~/Content/images/daDuihao.gif" /><span>您已成功设置新密码！</span></p>
        </div>
    </div>
    <div class="passwordBottom"><img src="~/Content/images/reg_01.gif" /></div>
</div>

@section scripts
{
    <script language="javascript" type="text/jscript">
        var timer = null;
        $(function () {
            //帐号焦点
            $('#MPNo').focus(function () {
                if (MPNo.value.trim() == '请输入您的手机号') {
                    MPNo.value = "";
                }
            }).blur(function () {
                if (MPNo.value.trim() == "")
                    MPNo.value = "请输入您的手机号";
            });
            $(".findCode-success").hide();
        });
        function VCodeRefresh(obj) {
            $("#vCodeImg").attr("src", "@Url.Action("GetValidateCode", "Base")?" + Math.random());
        }

        function VerifyMobile() {
            if (timer != null)
                return false;
            if (CheckMobile(MPNo, $("#msg")).code == 0) {
                MPNo.focus();
                return false;
            }
            $("#msg").html("");

            var postData = { "mpno": MPNo.value.trim(), check: 0 };

            $.ajax({
                type: "post",
                url: "@Url.Action("VerifyMobile", "Member")",
                data: postData,
                dataType: "json",
                success: function (resultJson) {
                    if (resultJson.Code == 1) {
                        $("#msg").html("验证码已发送，请查收!");
                        daojishi();
                    }
                    else {
                        $("#msg").html(resultJson.Msg);
                    }
                },
                error: function (msg) {
                    alert(msg.toString());
                }
            });
        }

        function formSubmit() {
            $("#msg").html("");
            if (CheckMobile(MPNo, $("#msg")).code == 0) {
                MPNo.focus();
                return false;
            }

            if (!vCode.value.match("^[0-9]{6}$")) {
                $("#msg").html("请输入6位验证码");
                vCode.focus();
                return false;
            }

            if (!pass.value.trim().match("^[a-zA-Z0-9]{8,20}$")) {
                $("#msg").html("密码须为8-20位的英文、数字，区分大小写");
                pass.focus();
                return false;
            }

            if (pass.value.trim() != passConfirm.value.trim()) {
                $("#msg").html("两次输入的密码不一致");
                passConfirm.focus();
                return false;
            }

            var postData = { mpno: MPNo.value, pass: pass.value, vcode: vCode.value };

            $.ajax({
                type: "post",
                url: "@Url.Action("User_ChangePass", "Member")",
                data: postData,
                dataType: "json",
                success: function (resultJson) {
                    if (resultJson.Code == 1) {
                        $(".password_01").hide();
                        $(".findCode-success").show();
                    }
                    else {
                        $("#msg").html(resultJson.Msg);
                    }
                },
                error: function (msg) {
                    alert(msg.toString());
                }
            });
        }
        function daojishi() {
            var i = 60;
            if (!timer) {
                $("#btnSmsCode").css({ "background": "#ccc", "color": "black" }).attr("value", i);
                timer = setInterval(function () {
                    i--;
                    $("#btnSmsCode").attr("value", i);
                    if (i == -1) {
                        clearInterval(timer);
                        timer = null;
                        $("#btnSmsCode").css({ "background": "#71b582", "color": "white" }).attr("value", "获取验证码");
                    }
                }, 1000);
            }
        }
    </script>
}

