
@{
    ViewBag.Title = "奢侈品护理";
}

<div class="page-content inset">
    <div class="row" style="padding-top:40px">
        <div class="col-md-7 col-md-offset-1">
            奢侈品护理页面正在建设中....
        </div>
    </div>
</div>
